<dx-sortable
  filter=".dx-tab"
  [data]="employees"
  itemOrientation="horizontal"
  dragDirection="horizontal"
  (onDragStart)="onTabDragStart($event)"
  (onReorder)="onTabDrop($event)"
>
  <dx-tab-panel
    [dataSource]="tabs"
    [height]="410"
    itemTitleTemplate="title"
    itemTemplate="item"
    [deferRendering]="false"
    [showNavButtons]="true"
    [repaintChangesOnly]="true"
    [selectedIndex]="selectedIndex"
  >
    <div *dxTemplate="let content of 'title'">
      <span>{{ content.title }}</span
      ><i 
        class="dx-icon dx-icon-close"
        (click)="closeButtonHandler(content)"
      ></i>
    </div>
    <div *dxTemplate="let tab of 'item'">
      <div class="employeeInfo">
        
        <p class="employeeNotes" 
          ><br />{{ tab.component }}</p
        >
      </div>      
    </div>
  </dx-tab-panel>
</dx-sortable>
