<div class="search-container content-block dx-card responsive-paddings">
    <div class="pmsearch-container ">
        <form action="your-action" (submit)="handleSubmit($event)">
            <dx-form [(formData)]="pmsearchInfo" [colCount]="1" labelMode="floating" labelLocation="left">
                <dxi-item itemType="group" verticalAlignment="">
                    <dxi-item dataField="itemnumber"></dxi-item>
                    <dxi-item dataField="description"></dxi-item>
                    <dxi-item dataField="itemtype" editorType="dxLookup"
                        [editorOptions]="{ label:'MFR',items: itemTypeList, showDataBeforeSearch:true,searchEnabled: true, searchExpr:'itemtype', displayExpr:'itemtype', valueExpr:'itemtype', showClearButton:true, searchMode:'contains' }">
                    </dxi-item>
                    <dxi-item dataField="itemclass" editorType="dxLookup"
                        [editorOptions]="{ label:'Item Class',items: itemClassList, showDataBeforeSearch:true,searchEnabled: true, searchExpr:'itemclass', displayExpr:'itemclass', valueExpr:'itemclass', showClearButton:true, searchMode:'contains'  }">
                    </dxi-item>
                    <dxi-item dataField="itemcode" editorType="dxLookup"
                        [editorOptions]="{ label:'Item Code',items: itemCodeList, showDataBeforeSearch:true,searchEnabled: true, searchExpr:'itemcode', displayExpr:'itemcode', valueExpr:'itemcode', showClearButton:true, searchMode:'contains'  }">
                    </dxi-item>
                </dxi-item>

                <dxi-item itemType="button" type="default" stylingMode="contained"
                    [buttonOptions]="submitButtonOptions">
                </dxi-item>
            </dx-form>
        </form>
    </div>
    <br />
    <div>
        <dx-data-grid #grid id="gridContainer" [dataSource]="pmSearchResults" keyExpr="itemNumber"
            [columns]="['itemNumber', 'description']" [focusedRowEnabled]="true" [hoverStateEnabled]="true"
              [rowAlternationEnabled]="true" [allowColumnResizing]="true"  
            [selectedRowKeys]="[]" height="48vh" (onSelectionChanged)="onSelectionChanged($event)">
            <dxo-load-panel [enabled]="false"></dxo-load-panel>
            <dxo-scrolling mode="infinite"></dxo-scrolling>
            <dxo-selection mode="single"></dxo-selection>

        </dx-data-grid>
    </div>
</div>