::ng-deep .pmsearch-container { 
    padding: 10px;
    max-width: 220px;
    min-width: 200px;
  }
  
  ::ng-deep #form {
    margin-top: 25px;
    line-height: 20;
  }
  ::ng-deep .search-container {
    margin: 10px 10px 10px;    
    max-width: 300px;
    min-width: 220px;
  }
  