<ng-template #showBackGroundImage>
  <div style="position: absolute; left: 0; right: 0; top:0; bottom:0;">
    <div>
        <div style="display: flex;justify-content: center;align-items: center;height: 40vw;">
            <img src="assets/images/amics_no_background_png.png" />
        </div>
    </div>
</div> 
</ng-template>

<ng-container *ngIf="tabs.length >0; else showBackGroundImage">
  <dx-sortable filter=".dx-tab" [data]="tabs" itemOrientation="horizontal" dragDirection="horizontal"
    (onDragStart)="onTabDragStart($event)" (onReorder)="onTabDrop($event)">
    <dx-tab-panel [dataSource]="tabs" itemTitleTemplate="title" itemTemplate="item"
      [deferRendering]="false" [showNavButtons]="true" [repaintChangesOnly]="true" [(selectedIndex)]="selectedIndex">
      <div *dxTemplate="let content of 'title'">
        <span>{{ content.title }}</span><i class="dx-icon dx-icon-close" (click)="closeButtonHandler(content)"></i>
      </div>
      <div *dxTemplate="let tab of 'item'">
        <app-host [type]="tab.type"> </app-host>
      </div>
    </dx-tab-panel>
  </dx-sortable>
</ng-container>