<dx-box direction="row" width="100%">
  <dxi-item [ratio]="1" style="align-items:center;background-color: #F4F5F6;">
    <dx-radio-group [dataSource]="children" [(value)]="selctedChild" layout="horizontal"
      (onValueChanged)="handleValueChange($event)">
    </dx-radio-group>
  </dxi-item>
</dx-box>
<dx-box direction="row" width="100%" style="margin-top: 10px;">
  <dxi-item [ratio]="0.5" style="align-items:center">
    <dx-button stylingMode="contained" text="Copy To New" type="default" (onClick)="copyToNew($event)">
    </dx-button>
  </dxi-item>
  <dxi-item [ratio]="0.5" style="align-items:center">

  </dxi-item>
  <dxi-item [ratio]="1.0" style="align-items:center">
    <dxi-item itemType="group" [colCount]="3">
      <dx-button stylingMode="contained" text="Add" type="default" (onClick)="pmCRUDActionsSelectionChanged('Add')"
        [visible]="!saveExitVisible">
      </dx-button> &nbsp;
      <dx-button stylingMode="contained" text="Edit" type="default" (onClick)="pmCRUDActionsSelectionChanged('Edit')"
        [visible]="!saveExitVisible">
      </dx-button> &nbsp;
      <dx-button stylingMode="contained" text="Delete" type="default"
        (onClick)="pmCRUDActionsSelectionChanged('Delete')" [visible]="!saveExitVisible">
      </dx-button> &nbsp;
      <dx-button stylingMode="contained" text="Save" type="default" (onClick)="pmCRUDActionsSelectionChanged('Save')"
        [visible]="saveExitVisible">
      </dx-button> &nbsp;
      <dx-button stylingMode="contained" text="Cancel" type="default"
        (onClick)="pmCRUDActionsSelectionChanged('Cancel')" [visible]="saveExitVisible">
      </dx-button>
    </dxi-item>

    <dx-button-group [items]="pmActions2" stylingMode="contained" type="default" selectionMode="single" keyExpr="text"
      [visible]="saveExitVisible2" (onItemClick)="pmCRUDActionsSelectionChanged($event)">
    </dx-button-group>
  </dxi-item>
  <dxi-item [ratio]="1">
    <dxi-item itemType="group" [colCount]="4" style="text-align: right;padding-right: 15px;">

      <dx-button stylingMode="contained" text="View Locations" type="default" [visible]="true"
        (onClick)="logpmActions2SelectionChanged('ViewLocation')">
      </dx-button> &nbsp;
      <dx-button stylingMode="contained" text="View SN" type="default" [visible]="showViewSN"
        (onClick)="logpmActions2SelectionChanged('ViewSerial')">
      </dx-button> &nbsp;
      <dx-button stylingMode="contained" text="Preview/Print" type="default" [visible]="true"
        (onClick)="logpmActions2SelectionChanged('Print')">
      </dx-button>
    </dxi-item>
    <dx-button-group [items]="pmActions1" stylingMode="contained" type="default" selectionMode="single" keyExpr="text"
      [visible]="saveExitVisible2" (onItemClick)="pmCRUDActionsSelectionChanged($event)">
    </dx-button-group>

  </dxi-item>
</dx-box>