<dx-responsive-box singleColumnScreen="sm">
    <dxi-row [ratio]="1"></dxi-row>
    <dxi-row [ratio]="1"></dxi-row>
    <dxi-row [ratio]="1"></dxi-row>
    <dxi-col [ratio]="1"></dxi-col>

<dxi-item>
    <dxi-location [row]="0" [col]="0"></dxi-location>
    <div *dxTemplate class="details-container content-block dx-card responsive-paddings">
        <dx-form id="form" [colCount]="4" labelMode="floating">
            <dxi-item [colSpan]="1" dataField="fromWarehouse" editorType="dxLookup" [editorOptions]="{
                label: 'From Warehouse',
                items: fromWarehouseList,
                showDataBeforeSearch: true,
                searchEnabled: true,
                searchExpr: 'fromWarehouse',
                displayExpr: 'fromWarehouse',
                valueExpr: 'fromWarehouse',
                showClearButton: true,
                searchMode: 'contains'
              }"></dxi-item>
              <dxi-item [colSpan]="1" dataField="fromLocation" editorType="dxLookup" [editorOptions]="{
                label: 'From Location',
                items: fromLocationList,
                showDataBeforeSearch: true,
                searchEnabled: true,
                searchExpr: 'fromLocation',
                displayExpr: 'fromLocation',
                valueExpr: 'fromLocation',
                showClearButton: true,
                searchMode: 'contains'
              }"></dxi-item>
            <dxi-item [colSpan]="1" dataField="toWarehouse" editorType="dxLookup" [editorOptions]="{
                label: 'To Warehouse',
                items: toWarehouseList,
                showDataBeforeSearch: true,
                searchEnabled: true,
                searchExpr: 'toWarehouse',
                displayExpr: 'toWarehouse',
                valueExpr: 'toWarehouse',
                showClearButton: true,
                searchMode: 'contains'
              }"></dxi-item>
              <dxi-item [colSpan]="1" dataField="toLocation" editorType="dxLookup" [editorOptions]="{
                label: 'To Location',
                items: fromLocationList,
                showDataBeforeSearch: true,
                searchEnabled: true,
                searchExpr: 'toLocation',
                displayExpr: 'toLocation',
                valueExpr: 'toLocation',
                showClearButton: true,
                searchMode: 'contains'
              }"></dxi-item>
        </dx-form>
    </div>
</dxi-item>

<dxi-item>
    <dxi-location [row]="1" [col]="0"></dxi-location>
    <div *dxTemplate class="details-container content-block dx-card responsive-paddings">
        <p>After entering the above values click go to refresh.<strong>Go</strong></p>
        <br>
        <dx-data-grid
        #grid
        id="gridContainer"
        [dataSource]="bulkGridList"
        keyExpr="itemNumber"
        [columns]="[
          'Part Number',
          'Rev',
          'Description',
          'Available Qty']"
        [hoverStateEnabled]="true"
        [showBorders]="true"
        [selectedRowKeys]="[]"
        height="25vh"
      >
        <dxo-scrolling rowRenderingMode="virtual"> </dxo-scrolling>
        <dxo-selection mode="single"></dxo-selection>
      </dx-data-grid>
      <dx-form id="form">
        <dxi-item></dxi-item>
        <dxi-item style="text-align: center;">
          <dx-button stylingMode="contained" text="transfer" type="default">
          </dx-button> &nbsp;
          <dx-button stylingMode="contained" text="exit" type="default">
          </dx-button>
      </dxi-item>
      </dx-form>
    </div>
</dxi-item>

<dxi-item>
    <dxi-location [row]="2" [col]="0"></dxi-location>
    <div *dxTemplate class="details-container content-block dx-card responsive-paddings">
        <dx-form id="form" [colCount]="5">
            <dxi-item></dxi-item>
            <dxi-item>
                <dx-date-box style="margin-top: 20px;"
                  placeholder="From Date"
                  displayFormat="dd-MMM-yy"
                >
                </dx-date-box>
            </dxi-item>
            <dxi-item>
                <dx-date-box style="margin-top: 20px;"
                  placeholder="To Date"
                  displayFormat="dd-MMM-yy"
                >
                </dx-date-box>
            </dxi-item>
            <dxi-item style="margin-top: 22px;">
                <h4>Refresh Log</h4>
            </dxi-item>
        </dx-form>
        <br>
        <dx-data-grid
        #grid
        id="gridContainer"
        [dataSource]="bulkGridList"
        keyExpr="itemNumber"
        [columns]="[
          'Part Number',
          'Description',
          'SN/LOT',
          'Tag/Color',
          'Quantity',
          'Cost',
          'Trans Date',
          'Location',
          'Warehouse',
          'Created By',]"
        [hoverStateEnabled]="true"
        [showBorders]="true"
        [selectedRowKeys]="[]"
        height="30vh"
      >
        <dxo-scrolling rowRenderingMode="virtual"> </dxo-scrolling>
        <dxo-selection mode="single"></dxo-selection>
      </dx-data-grid>
    </div>
</dxi-item>