<dx-responsive-box singleColumnScreen="sm">
    <dxi-row [ratio]="1"></dxi-row>
    <dxi-row [ratio]="1"></dxi-row>
    <dxi-row [ratio]="1"></dxi-row>
    <dxi-col [ratio]="1"></dxi-col>

<dxi-item>
    <dxi-location [row]="0" [col]="0"></dxi-location>
    <div *dxTemplate class="details-container content-block dx-card responsive-paddings">
        <dx-form id="form" [colCount]="4" labelMode="floating">
            <!-- <dxi-item [colSpan]="1" dataField="fromWarehouse" editorType="dxLookup" [editorOptions]="{
                label: 'From Warehouse',
                items: fromWarehouseList,
                showDataBeforeSearch: true,
                searchEnabled: true,
                searchExpr: 'fromWarehouse',
                displayExpr: 'fromWarehouse',
                valueExpr: 'fromWarehouse',
                showClearButton: true,
                searchMode: 'contains'
              }"></dxi-item> -->
              <!-- <dxi-item [colSpan]="1" dataField="fromLocation" editorType="dxLookup" [editorOptions]="{
                label: 'From Location',
                items: fromLocationList,
                showDataBeforeSearch: true,
                searchEnabled: true,
                searchExpr: 'fromLocation',
                displayExpr: 'fromLocation',
                valueExpr: 'fromLocation',
                showClearButton: true,
                searchMode: 'contains'
              }"></dxi-item> -->
              
              <dxi-item>
                <dx-lookup [items]="fromWarehouseList" [(value)]="fromWarehouse" (onValueChanged)="updateWarehouseSelection($event)"
                  label="From Warehouse" (onFocusIn)="openFmWarehouseBox()">
                  <dxo-drop-down-options [showTitle]="false"></dxo-drop-down-options>
                  <dxi-validation-rule type="required" message="warehouse is required">
                  </dxi-validation-rule>
                </dx-lookup>
              </dxi-item> 
              <dxi-item>
                <dx-lookup  [items]="fromLocationList" [(value)]="fromLocation" label="From Location" (onValueChanged)="onSelectValidateLoc($event)">
                  <dxo-drop-down-options [showTitle]="false"></dxo-drop-down-options>
                  <dxi-validation-rule type="required" message="location is required">
                  </dxi-validation-rule>
                </dx-lookup>
              </dxi-item>

              <dxi-item>
                <dx-lookup [items]="toWarehouseList" [(value)]="toWarehouse" (onValueChanged)="updateToWarehouseSelection($event)"
                  label="To Warehouse">
                  <dxo-drop-down-options [showTitle]="false"></dxo-drop-down-options>
                  <dxi-validation-rule type="required" message="warehouse is required">
                  </dxi-validation-rule>
                </dx-lookup>
              </dxi-item>
              
              <dxi-item>
                <dx-lookup [items]="toLocationList" [(value)]="toLocation" label="To Location">
                  <dxo-drop-down-options [showTitle]="false"></dxo-drop-down-options>
                  <dxi-validation-rule type="required" message="Location is required">
                  </dxi-validation-rule>
                </dx-lookup>
              </dxi-item>

            <!-- <dxi-item [colSpan]="1" dataField="toWarehouse" editorType="dxLookup" [editorOptions]="{
                label: 'To Warehouse',
                items: toWarehouseList,
                showDataBeforeSearch: true,
                searchEnabled: true,
                searchExpr: 'toWarehouse',
                displayExpr: 'toWarehouse',
                valueExpr: 'toWarehouse',
                showClearButton: true,
                searchMode: 'contains'
              }"></dxi-item>
              <dxi-item [colSpan]="1" dataField="toLocation" editorType="dxLookup" [editorOptions]="{
                label: 'To Location',
                items: fromLocationList,
                showDataBeforeSearch: true,
                searchEnabled: true,
                searchExpr: 'toLocation',
                displayExpr: 'toLocation',
                valueExpr: 'toLocation',
                showClearButton: true,
                searchMode: 'contains'
              }"></dxi-item> -->
        </dx-form>
    </div>
</dxi-item>

<dxi-item>
    <dxi-location [row]="1" [col]="0"></dxi-location>
    <div *dxTemplate class="details-container content-block dx-card responsive-paddings">
        <p>After entering the above values click go to refresh.<strong>
          <a href="#" (click)="goClick()" class="goLink">Go</a></strong></p>
        <br>
        <dx-data-grid
        #grid
        id="gridContainer"
        [dataSource]="bulkGridList"
        keyExpr="itemNumber"
        [columns]="[
          'Part Number',
          'Rev',
          'Description',
          'Available Qty']"
        [hoverStateEnabled]="true"
        [showBorders]="true"
        [selectedRowKeys]="[]"
        height="25vh">
        <dxo-scrolling rowRenderingMode="virtual"> </dxo-scrolling>
        <dxo-selection mode="single"></dxo-selection>        
        <dxi-column dataField="itemNumber" caption="Part Number"></dxi-column>
        <dxi-column dataField="rev" caption="Mfgr"></dxi-column>
        <dxi-column dataField="description" caption="Description"></dxi-column>        
        <dxi-column dataField="quantity" caption="Qty"></dxi-column>
      </dx-data-grid>
      <dx-form id="form">
        <dxi-item></dxi-item>
        <dxi-item style="text-align: center;">
          <dx-button stylingMode="contained" text="transfer" type="default" (onClick)="transferBtnClick()">
          </dx-button> &nbsp;
          <dx-button stylingMode="contained" text="exit" type="default">
          </dx-button>
      </dxi-item>
      </dx-form>
    </div>
</dxi-item>

<dxi-item>
    <dxi-location [row]="2" [col]="0"></dxi-location>
    <div class="details-container content-block dx-card responsive-paddings">
      <div class="container">
        <div class="row">
          <div class="row p-0" style="display: flex">
            <span style="flex: 1 1 0"></span>

            <div class="col-2">
              <dx-date-box
                [value]="fromDate"
                [ngAddLabel]="labelMap.fromDate_num"
                placeholder="From Date"
                [stylingMode]="'underlined'"
                [labelMode]="'floating'"
                style="margin-top: 5px"
                (onValueChanged)="fromDatehandler($event)"
              ></dx-date-box>
            </div>

            <div class="col-2">
              <dx-date-box
                [value]="toDate"
                [ngAddLabel]="labelMap.toDate_num"
                placeholder="To Date"
                [stylingMode]="'underlined'"
                [labelMode]="'floating'"
                style="margin-top: 5px"
                (onValueChanged)="toDatehandler($event)"
              ></dx-date-box>
            </div>

            <div class="col-2">
              <div
                style="margin-top: 17px; font-size: 17px; font-weight: bold"
              >
                <a href="#" (click)="refreshLog()">Refresh Log</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div
        style="
          height: calc(100vh - 530px);
          float: left;
          margin: 0px;
          margin-bottom: 10px;
          padding: 0px;
        "
      >
        <app-trans-log [data]="trasLogArray"></app-trans-log>
      </div>
    </div>
</dxi-item>