<dx-responsive-box singleColumnScreen="sm">
    <dxi-row [ratio]="0.50"></dxi-row>
    <dxi-row [ratio]="0.10"></dxi-row>
    <dxi-row [ratio]="1"></dxi-row>
    <dxi-row [ratio]="1"></dxi-row>
    <dxi-col [ratio]="0.75"></dxi-col>
    <dxi-col [ratio]="1"></dxi-col>
    <dxi-col [ratio]="1"></dxi-col>
    <dxi-col [ratio]="1"></dxi-col>
    <dxi-col [ratio]="1"></dxi-col>
    <!-- Search Panel -->
    <dxi-item>
        <dxi-location [row]="0" [col]="0" [rowspan]="2"></dxi-location>
        <div *dxTemplate class="details-container content-block dx-card responsive-paddings">
            <dx-form id="form" [colCount]="1" labelMode="floating">
                <dxi-item [colSpan]="1" *ngDisplayLabel="100" [isRequired]="false">
                    <dx-text-box [stylingMode]="StylingMode" [labelMode]="LabelMode"
                        [elementAttr]="{ class: 'myclass' }" [ngAddLabel]="labelMap.equipRequest_num">
                    </dx-text-box>
                </dxi-item>
                <dxi-item [colSpan]="1" *ngDisplayLabel="100" [isRequired]="false">
                    <dx-text-box [stylingMode]="StylingMode" [labelMode]="LabelMode"
                        [elementAttr]="{ class: 'myclass' }" [ngAddLabel]="labelMap.project_Id_num">
                    </dx-text-box>
                </dxi-item>
                <dxi-item [colSpan]="1" *ngDisplayLabel="100" [isRequired]="false">
                    <dx-text-box [stylingMode]="StylingMode" [labelMode]="LabelMode"
                        [elementAttr]="{ class: 'myclass' }" [ngAddLabel]="labelMap.project_name_num">
                    </dx-text-box>
                </dxi-item>
                <dxi-item [colSpan]="1" [isRequired]="false">
                    <dx-select-box width="100%" [searchEnabled]="true" [stylingMode]="StylingMode"
                        [labelMode]="LabelMode" placeholder="Search" [ngAddLabel]="labelMap.status_num"
                        displayExpr="itemtype" valueExpr="itemtype">
                    </dx-select-box>
                </dxi-item>
                <dxi-item [colSpan]="1" *ngDisplayLabel="100" [isRequired]="false">
                    <dx-text-box [stylingMode]="StylingMode" [labelMode]="LabelMode"
                        [elementAttr]="{ class: 'myclass' }" [ngAddLabel]="labelMap.requestor_num">
                    </dx-text-box>
                </dxi-item>


                <dxi-item [colSpan]="1" style="text-align: center;">
                    <dx-button stylingMode="contained" text="Search" type="default" width="400">
                    </dx-button>
                </dxi-item>
                <dxi-item></dxi-item>
                <dxi-item [colSpan]="1">
                    <div>
                        <h6>Select year to search:</h6>
                    </div>
                </dxi-item>
                <dxi-item [colSpan]="1">
                    <dx-radio-group [items]="searchingYear" [value]="searchingYear[0]" layout="horizontal">
                    </dx-radio-group>
                </dxi-item>
                <dxi-item [colSpan]="1">
                    <dx-data-grid id="gridContainer" [dataSource]="equipSearchList" keyExpr="ID" height="30vh"
                        [showBorders]="true">
                        <dxi-column dataField="ER"></dxi-column>
                        <dxi-column dataField="ER Date"></dxi-column>
                        <dxi-column dataField=""></dxi-column>
                    </dx-data-grid>
                </dxi-item>
                <dxi-item [colSpan]="1" style="text-align: center;">
                    <dx-button stylingMode="contained" text="Search" type="default">
                    </dx-button>
                </dxi-item>
            </dx-form>

        </div>
    </dxi-item>
    <!-- Detail Panel -->
    <dxi-item>
        <dxi-location [row]="0" [col]="1"></dxi-location>
        <div *dxTemplate class="details-container content-block dx-card responsive-paddings">
            <dx-form id="form" [colCount]="2" labelMode="floating">
                <dxi-item [colSpan]="2" *ngDisplayLabel="100" [isRequired]="false">
                    <dx-text-box [stylingMode]="StylingMode" [labelMode]="LabelMode"
                        [elementAttr]="{ class: 'myclass' }" [ngAddLabel]="labelMap.equipRequest_num">
                    </dx-text-box>
                </dxi-item>
                <dxi-item [colSpan]="2" [isRequired]="false">
                    <dx-select-box width="100%" [searchEnabled]="true" [stylingMode]="StylingMode"
                        [labelMode]="LabelMode" placeholder="Search" [ngAddLabel]="labelMap.project_Id_num"
                        displayExpr="itemtype" valueExpr="itemtype">
                    </dx-select-box>
                </dxi-item>
                <dxi-item [colSpan]="2" [isRequired]="false">
                    <dx-select-box width="100%" [searchEnabled]="true" [stylingMode]="StylingMode"
                        [labelMode]="LabelMode" placeholder="Search" [ngAddLabel]="labelMap.status_num"
                        displayExpr="itemtype" valueExpr="itemtype">
                    </dx-select-box>
                </dxi-item>
                <dxi-item [colSpan]="1">
                    <dx-date-box [label]="'ER Date'" placeholder="Select..." [stylingMode]="StylingMode"
                        [labelMode]="LabelMode" style="margin-top: 10px"></dx-date-box>
                </dxi-item>
                <dxi-item [colSpan]="1" *ngDisplayLabel="100" [isRequired]="false">
                    <dx-text-box [stylingMode]="StylingMode" [labelMode]="LabelMode"
                        [elementAttr]="{ class: 'myclass' }" [label]="'Est. Comp'">
                    </dx-text-box>
                </dxi-item>
                <dxi-item [colSpan]="1" *ngDisplayLabel="100" [isRequired]="false">
                    <dx-text-box [stylingMode]="StylingMode" [labelMode]="LabelMode"
                        [elementAttr]="{ class: 'myclass' }" [label]="'PR Comp'">
                    </dx-text-box>
                </dxi-item>
                <dxi-item [colSpan]="1" *ngDisplayLabel="100" [isRequired]="false">
                    <dx-text-box [stylingMode]="StylingMode" [labelMode]="LabelMode"
                        [elementAttr]="{ class: 'myclass' }" [ngAddLabel]="labelMap.status_num">
                    </dx-text-box>
                </dxi-item>

            </dx-form>
        </div>
    </dxi-item>
    <dxi-item>
        <dxi-location [row]="0" [col]="2"></dxi-location>
        <div *dxTemplate class="details-container content-block dx-card responsive-paddings">
            <dx-form id="form" [colCount]="1" labelMode="floating">
                <dxi-item [colSpan]="2" *ngDisplayLabel="100" [isRequired]="false">
                    <dx-text-box [stylingMode]="StylingMode" [labelMode]="LabelMode"
                        [elementAttr]="{ class: 'myclass' }" [ngAddLabel]="labelMap.equipRequest_num">
                    </dx-text-box>
                </dxi-item>
                <dxi-item [colSpan]="2" [isRequired]="false">
                    <dx-select-box width="100%" [searchEnabled]="true" [stylingMode]="StylingMode"
                        [labelMode]="LabelMode" placeholder="Search" [ngAddLabel]="labelMap.shipVia_num"
                        displayExpr="itemtype" valueExpr="itemtype">
                    </dx-select-box>
                </dxi-item>
                <dxi-item [colSpan]="2" *ngDisplayLabel="100" [isRequired]="false">
                    <dx-text-box [stylingMode]="StylingMode" [labelMode]="LabelMode"
                        [elementAttr]="{ class: 'myclass' }" [ngAddLabel]="labelMap.budgetAuth_num">
                    </dx-text-box>
                </dxi-item>
                <dxi-item [colSpan]="1">
                    <dx-date-box [ngAddLabel]="labelMap.baDate_num" placeholder="Select..." [stylingMode]="StylingMode"
                        [labelMode]="LabelMode" style="margin-top: 10px"></dx-date-box>
                </dxi-item>
                <dxi-item [colSpan]="2" *ngDisplayLabel="100" [isRequired]="false">
                    <dx-text-box [stylingMode]="StylingMode" [labelMode]="LabelMode"
                        [elementAttr]="{ class: 'myclass' }" [ngAddLabel]="labelMap.budget_num">
                    </dx-text-box>
                </dxi-item>
            </dx-form>
        </div>
    </dxi-item>
    <dxi-item>
        <dxi-location [row]="0" [col]="3"></dxi-location>
        <div *dxTemplate class="details-container content-block dx-card responsive-paddings">
            <dx-form id="form" [colCount]="1" labelMode="floating">
                <dxi-item [colSpan]="1" *ngDisplayLabel="100" [isRequired]="false">
                    <dx-text-box [stylingMode]="StylingMode" [labelMode]="LabelMode"
                        [elementAttr]="{ class: 'myclass' }" [ngAddLabel]="labelMap.requestor_num">
                    </dx-text-box>
                </dxi-item>
                <dxi-item [colSpan]="1" *ngDisplayLabel="100" [isRequired]="false">
                    <dx-text-box [stylingMode]="StylingMode" [labelMode]="LabelMode"
                        [elementAttr]="{ class: 'myclass' }" [ngAddLabel]="labelMap.wbs_num">
                    </dx-text-box>
                </dxi-item>
                <dxi-item [colSpan]="1" *ngDisplayLabel="100" [isRequired]="false">
                    <dx-text-box [stylingMode]="StylingMode" [labelMode]="LabelMode"
                        [elementAttr]="{ class: 'myclass' }" [ngAddLabel]="labelMap.acrn_num">
                    </dx-text-box>
                </dxi-item>
                <dxi-item [colSpan]="1" *ngDisplayLabel="100" [isRequired]="false">
                    <dx-text-box [stylingMode]="StylingMode" [labelMode]="LabelMode"
                        [elementAttr]="{ class: 'myclass' }" [ngAddLabel]="labelMap.mdatIn_num">
                    </dx-text-box>
                </dxi-item>
                <dxi-item [colSpan]="1" *ngDisplayLabel="100" [isRequired]="false">
                    <dx-text-box [stylingMode]="StylingMode" [labelMode]="LabelMode"
                        [elementAttr]="{ class: 'myclass' }" [ngAddLabel]="labelMap.org_num">
                    </dx-text-box>
                </dxi-item>

            </dx-form>
        </div>
    </dxi-item>

    <dxi-item>
        <dxi-location [row]="0" [col]="4"></dxi-location>
        <div *dxTemplate class="details-container content-block dx-card responsive-paddings">
            <dx-form id="form" [colCount]="1" labelMode="floating">
                <dxi-item [colSpan]="1">
                    <dx-radio-group [items]="equipNotes" [value]="equipNotes[0]" layout="horizontal"
                        (onValueChanged)="changeNotesHeader($event)">
                    </dx-radio-group>
                </dxi-item>
                <dxi-item [colSpan]="1">
                    <br>
                    <h6>{{notesHeader}}</h6>
                    <dx-form id="form" [colCount]="1" labelMode="floating">
                        <dxi-item [colSpan]="1" *ngDisplayLabel="100" [isRequired]="false">
                            <dx-text-box [stylingMode]="StylingMode" [labelMode]="LabelMode"
                              style="height: 60px;" [elementAttr]="{ class: 'myclass' }" 
                              [ngAddLabel]="labelMap.taskNotes_num" #markupVar>
                            </dx-text-box>
                        </dxi-item>
                        <!-- <dxi-item dataField="description" editorType="dxTextArea"
                            [label]="{text: 'Description (Max 300 characters)'}">
                        </dxi-item> -->
                    </dx-form>
                    <!-- <textarea style="width: 100%; min-height:135px;"></textarea> -->
                    <!-- <dxi-item dataField="description" editorType="dxTextArea"
                        [label]="{text: 'Description (Max 150 characters)'}">
                    </dxi-item> -->
                </dxi-item>
            </dx-form>
        </div>
    </dxi-item>

    <!-- Bottom Grid -->
    <dxi-item>
        <dxi-location [row]="1" [col]="1" [colspan]="4"></dxi-location>
        <div *dxTemplate class="details-container content-block dx-card responsive-paddings">
            <dxi-item [colSpan]="1">
                <dx-form id="form" [colCount]="6" labelMode="floating">
                    <dxi-item></dxi-item>
                    <dxi-item [colSpan]="1" *ngDisplayLabel="100" [isRequired]="false">
                        <dx-text-box [stylingMode]="StylingMode" [labelMode]="LabelMode"
                            [elementAttr]="{ class: 'myclass' }" [ngAddLabel]="labelMap.contact_num">
                        </dx-text-box>
                    </dxi-item>
                    <dxi-item [colSpan]="1" *ngDisplayLabel="100" [isRequired]="false">
                        <dx-text-box [stylingMode]="StylingMode" [labelMode]="LabelMode"
                            [elementAttr]="{ class: 'myclass' }" [ngAddLabel]="labelMap.email_num">
                        </dx-text-box>
                    </dxi-item>
                    <dxi-item [colSpan]="1" *ngDisplayLabel="100" [isRequired]="false">
                        <dx-text-box [stylingMode]="StylingMode" [labelMode]="LabelMode"
                            [elementAttr]="{ class: 'myclass' }" [ngAddLabel]="labelMap.phone_num">
                        </dx-text-box>
                    </dxi-item>
                    <dxi-item [colSpan]="1" [isRequired]="false">
                        <dx-select-box width="100%" [searchEnabled]="true" [stylingMode]="StylingMode"
                            [labelMode]="LabelMode" placeholder="Search" [ngAddLabel]="labelMap.fax_num"
                            displayExpr="itemtype" valueExpr="itemtype">
                        </dx-select-box>
                    </dxi-item>
 
                    <dxi-item></dxi-item>
                    <dxi-item itemType="empty" [colSpan]="6"></dxi-item>
                </dx-form>
            </dxi-item>
            <dxi-item [colSpan]="1">
                <dx-data-grid id="gridContainer" [dataSource]="equipMainList" keyExpr="ID" height="25vh"
                    [showBorders]="true">
                    <dxi-column dataField="Action"></dxi-column>
                    <dxi-column dataField="Line"></dxi-column>
                    <dxi-column dataField="MFR."></dxi-column>
                    <dxi-column dataField="Part Number"></dxi-column>
                    <dxi-column dataField="Rev"></dxi-column>
                    <dxi-column dataField="Description"></dxi-column>
                    <dxi-column dataField="Quantity"></dxi-column>
                    <dxi-column dataField="Shipped"></dxi-column>
                    <dxi-column dataField="Cost(U)"></dxi-column>
                    <dxi-column dataField="Ext Price"></dxi-column>
                    <dxi-column dataField="Cost(L)"></dxi-column>
                    <dxi-column dataField="PO Cost(U)"></dxi-column>
                    <dxi-column dataField="PO Cost(L)"></dxi-column>
                </dx-data-grid>
            </dxi-item>
            <dxi-item [colSpan]="1">
                <br>
                <h6>Line Notes</h6>
                <dx-form id="form" [colCount]="12" labelMode="floating">
                    <dxi-item [colSpan]="10" *ngDisplayLabel="100" [isRequired]="false">
                        <dx-text-box [stylingMode]="StylingMode" [labelMode]="LabelMode"
                          style="height: 60px;" [elementAttr]="{ class: 'myclass' }" 
                          [ngAddLabel]="labelMap.lineNotes_num">
                        </dx-text-box>
                    </dxi-item>
                    <!-- <dxi-item dataField="Line Notes" [colSpan]="10" editorType="dxTextArea"
                        [label]="{text: 'Line Notes (Max 150 characters)'}">
                    </dxi-item> -->
                    <dxi-item [colSpan]="2">
                        <dx-button stylingMode="contained" text="Enlarged View" type="default" width="350">
                        </dx-button>
                    </dxi-item>
                    <dxi-item itemType="empty" [colSpan]="12"></dxi-item>
                    <dxi-item></dxi-item>

                    <dxi-item [colSpan]="2" *ngDisplayLabel="100" [isRequired]="false">
                        <dx-text-box [stylingMode]="StylingMode" [labelMode]="LabelMode"
                            [elementAttr]="{ class: 'myclass' }" [ngAddLabel]="labelMap.costU_num">
                        </dx-text-box>
                    </dxi-item>
                    <dxi-item [colSpan]="2" *ngDisplayLabel="100" [isRequired]="false">
                        <dx-text-box [stylingMode]="StylingMode" [labelMode]="LabelMode"
                            [elementAttr]="{ class: 'myclass' }" [ngAddLabel]="labelMap.costL_num">
                        </dx-text-box>
                    </dxi-item>
                    <dxi-item [colSpan]="2" *ngDisplayLabel="100" [isRequired]="false">
                        <dx-text-box [stylingMode]="StylingMode" [labelMode]="LabelMode"
                            [elementAttr]="{ class: 'myclass' }" [ngAddLabel]="labelMap.poCostU_num">
                        </dx-text-box>
                    </dxi-item>
                    <dxi-item [colSpan]="2" *ngDisplayLabel="100" [isRequired]="false">
                        <dx-text-box [stylingMode]="StylingMode" [labelMode]="LabelMode"
                            [elementAttr]="{ class: 'myclass' }" [ngAddLabel]="labelMap.poCostL_num">
                        </dx-text-box>
                    </dxi-item>


                    
                    <dxi-item></dxi-item>
                </dx-form>
            </dxi-item>
        </div>
    </dxi-item>
    <!-- footer -->
    <dxi-item>
        <dxi-location [row]="3" [col]="0" [colspan]="5"></dxi-location>
        <div *dxTemplate class="details-container content-block dx-card responsive-paddings">
            <dx-form id="form" [colCount]="3" labelMode="floating">
                <dxi-item></dxi-item>
                <dxi-item [colSpan]="1">
                    <dx-radio-group [items]="equipradio" [value]="equipradio[0]" layout="horizontal">
                    </dx-radio-group>
                </dxi-item>
            </dx-form>
            <dx-form id="form" [colCount]="6" labelMode="floating">
                <dxi-item [colSpan]="1">
                    <dx-button stylingMode="contained" text="Copy to new" type="default">
                    </dx-button>
                </dxi-item>
                <dxi-item [colSpan]="2">
                    <dx-button stylingMode="contained" text="Add" type="default">
                    </dx-button> &nbsp;
                    <dx-button stylingMode="contained" text="Edit" type="default">
                    </dx-button>&nbsp;
                    <dx-button stylingMode="contained" text="Delete" type="default">
                    </dx-button>&nbsp;
                    <dx-button stylingMode="contained" text="Exit" type="default">
                    </dx-button>
                </dxi-item>
                <dxi-item [colSpan]="2" style="text-align: center;">
                    <dx-button stylingMode="contained" text="User Fields" type="default">
                    </dx-button>&nbsp;
                    <dx-button stylingMode="contained" text="Create Proj XFR" type="default">
                    </dx-button>&nbsp;
                    <dx-button stylingMode="contained" text="View Proj XFR" type="default">
                    </dx-button>
                </dxi-item>
                <dxi-item [colSpan]="1" style="float: right;">
                    <dx-button stylingMode="contained" text="Reports" type="default">
                    </dx-button>
                </dxi-item>

            </dx-form>
        </div>
    </dxi-item>