<div class="row">
  <div style="color: #007900" class="col-2 text-end"></div>
  <div style="color: #007900" class="col-2 text-end">On Hand:{{ onHand }}</div>
  <div style="color: #e1242b" class="col-2 text-end">
    Not Available:{{ notAvailable }}
  </div>
  <div style="color: #00008a" class="col-2 text-end">
    Allocated:{{ allocated }}
  </div>
  <div style="color: #007900" class="col-2 text-end">
    Available:{{ available }}
  </div>
  <div style="color: #007900" class="col-2 text-end"></div>
</div>
