<div class="container-fluid m-1">
  <div class="row" style="margin-right: 15px;">
    <!-- LEFT SEARCH PANEL STARTS-->
    <div class="col-3" style="border: 1px solid #eee;background-color: white;padding: 0px!important;">
      <app-pmsearch [componentType]="componentType"></app-pmsearch>
    </div>
    <!-- LEFT SEARCH PANEL ENDS-->

    <!-- RIGHT CONTENT PANEL STARTS-->
    <div class="col-9" style="background-color: white;">
      <div class="row p-2" style="border-bottom: 2px solid #eee;">
        <h3 style="padding-bottom: 0px;margin-bottom: 0px;">
          <span style="color: darkgrey">PN : {{pmDetails?.itemNumber}}</span> / {{pmDetails?.description}}</h3>
        <app-inventory-status [itemsId]="itemsId" [secUserId]="secUserId"></app-inventory-status>
      </div>
      <div class="row">

        <div class="col-12">

          <div class="row">
            <div id="form-container">
              <dx-form id="form" [colCount]="3">

                <!-- Quantity Starts  -->
                <dxi-item [colSpan]="1">
                  <dx-number-box
                    [value]="1"
                    [showSpinButtons]="true"
                    [stylingMode]="'outlined'"
                    [labelMode]="'floating'"
                    [elementAttr]="{ class: 'myclass' }"
                    [inputAttr]="{ id: 'quantityId' }"
                    [ngAddLabel]="labelMap.quan_num">
                    <dxi-button
                      name="prevDate"
                      location="after"
                      [options]="prevDateButton"
                    ></dxi-button>

                    <dxi-button
                      name="afterDate"
                      location="after"
                      [options]="afterDateButton"
                    ></dxi-button>
                  </dx-number-box>
                </dxi-item>
                <!-- Quantity Ends  -->

                <!-- Unit Cost Starts  -->
                <dxi-item [colSpan]="1">
                  <dx-text-box
                    value="{{pmDetails.cost}}"
                    width="100%"
                    [ngAddLabel]="labelMap.unitCost_num"
                    placeholder="Type..."
                    [stylingMode]="'outlined'"
                    [labelMode]="'floating'"
                    [inputAttr]="{ id: 'costId' }"
                  >
                    <dxi-button
                      name="currencyIcon"
                      location="after"
                      [options]="currencyIcon"
                    ></dxi-button>

                  </dx-text-box>
                </dxi-item>
                <!-- Unit Cost Ends  -->

                <!-- Reason Code Starts  -->
                <dxi-item [colSpan]="1">
                  <dx-select-box
                    [items]="reasonsStr"
                    [value]="defaultReason"
                    [searchEnabled]="true"
                    [stylingMode]="'underlined'"
                    [labelMode]="'floating'"
                    placeholder="Search"
                    [ngAddLabel]="labelMap.reasonCode_num"
                  ></dx-select-box>
                </dxi-item>
                <!-- Reason Code Ends  -->


                <!-- Transaction Date Starts  -->
                <dxi-item [colSpan]="1">
                  <dx-date-box
                    [value]="todayDate"
                    [ngAddLabel]="labelMap.txnDate_num"
                    placeholder="Select..."
                    [stylingMode]="'underlined'"
                    [labelMode]="'floating'"
                  ></dx-date-box>
                </dxi-item>
                <!-- Transaction Date Ends  -->

                <!-- Warehouse Search Starts  -->
                <dxi-item [colSpan]="1">
                  <dx-select-box
                    [ngAddLabel]="labelMap.warehouse_num"
                    [items]="warehousesStr"
                    value="{{pmDetails?.warehouse}}"
                    [searchEnabled]="true"
                    (onValueChanged)="updateSelectedWarehouse($event)"
                    [stylingMode]="'underlined'"
                    [labelMode]="'floating'"
                    placeholder="Search"
                  ></dx-select-box>
                </dxi-item>
                <!-- Warehouse Search Ends  -->

                <!-- Location Search Starts  -->
                <dxi-item [colSpan]="1">
                  <dx-select-box
                    [ngAddLabel]="labelMap.location_num"
                    [items]="locationsStr"
                    value="{{pmDetails?.location}}"
                    [searchEnabled]="true"
                    [stylingMode]="'underlined'"
                    [labelMode]="'floating'"
                    placeholder="Search"
                  ></dx-select-box>
                </dxi-item>
                <!-- Location Search Ends  -->

                <!-- Source Starts  -->
                <dxi-item [colSpan]="1">
                  <dx-text-box
                    [value]="defaultSource"
                    width="100%"
                    [ngAddLabel]="labelMap.source_num"
                    placeholder="Type..."
                    [stylingMode]="'underlined'"
                    [labelMode]="'floating'"
                  ></dx-text-box>

                  <dx-check-box [value]="true" text="Remember" class="mt-1" style="font-size: 10px"></dx-check-box>
                </dxi-item>
                <!-- Source Ends  -->

                <!-- Ref Starts  -->
                <dxi-item [colSpan]="1">
                  <dx-text-box
                    [value]="defaultRef"
                    width="100%"
                    label="Ref"
                    [ngAddLabel]="labelMap.ref_num"
                    placeholder="Type..."
                    [stylingMode]="'underlined'"
                    [labelMode]="'floating'"
                  ></dx-text-box>

                  <dx-check-box [value]="true" text="Remember" class="mt-1" style="font-size: 10px"></dx-check-box>
                </dxi-item>
                <!-- Ref Ends  -->

                <!-- User or ER Starts  -->
                <dxi-item [colSpan]="1">
                  <dx-select-box
                    label="ER"
                    [ngAddLabel]="labelMap.er_num"
                    [items]="ersStr"
                    [value]="er"
                    [searchEnabled]="true"
                    [stylingMode]="'underlined'"
                    [labelMode]="'floating'"
                    placeholder="Search"
                  ></dx-select-box>
                  <!--<dx-check-box [value]="true" text="Remember" class="mt-1" style="font-size: 10px"></dx-check-box>-->
                </dxi-item>
                <!-- User or ER Ends  -->

                <!-- Notes Starts  -->
                <dxi-item [colSpan]="2">
                  <dx-text-area
                    value="Olivia loves to sell. She has been selling DevAV products since 2012."
                    width="100%"
                    placeholder="Type..."
                    label="Notes"
                    [ngAddLabel]="labelMap.notes_num"
                    [stylingMode]="'underlined'"
                    [labelMode]="'floating'"
                  ></dx-text-area>
                </dxi-item>
                <!-- Notes Ends  -->

                <!-- Slider Starts  -->
                <dxi-item [colSpan]="1">
                  <dx-linear-gauge class="gauge-element" [value]="70">
                    <dxo-value-indicator type="circle" color="#ff0000"></dxo-value-indicator>
                    <dxo-title text="On Hand - 70">
                      <dxo-font [size]="16"></dxo-font>
                    </dxo-title>
                    <dxo-geometry orientation="horizontal"></dxo-geometry>
                    <dxo-scale
                      [startValue]="0"
                      [endValue]="100"
                      [tickInterval]="100"
                      [customTicks]="[30, 60]"
                    >
                    </dxo-scale>
                    <dxo-range-container backgroundColor="none">
                      <dxi-range
                        [startValue]="1"
                        [endValue]="30"
                        color="#00ff00"
                      ></dxi-range>
                      <dxi-range
                        [startValue]="31"
                        [endValue]="60"
                        color="yellow"
                      ></dxi-range>
                      <dxi-range
                        [startValue]="61"
                        [endValue]="100"
                        color="#ff0000"
                      ></dxi-range>
                    </dxo-range-container>
                  </dx-linear-gauge>
                </dxi-item>
                <!-- Slider Ends  -->

              </dx-form>
            </div>

            <div class="row p-0" style="display: flex">
              <span style="flex: 1 1 0"></span>
              <dx-button
                stylingMode="outlined"
                text="Update"
                type="default"
                style="width: 150px;"
              ></dx-button>

              <dx-button
                stylingMode="outlined"
                text="Exit"
                type="default"
                style="width: 150px;"
              ></dx-button>
            </div>

          </div>
        </div>

        <div class="m-1">
          <dx-data-grid id="gridContainer" [dataSource]="pmpoviewArray" keyExpr="ID"
                        [columns]="['Part Number', 'Quantity', 'Cost', 'Transaction Date', 'Location', 'Warehouse']"
                        [showBorders]="true">
          </dx-data-grid>
        </div>

      </div>
      <div class="row"></div>
    </div>
    <!-- RIGHT CONTENT PANEL ENDS-->
  </div>

</div>


