<dx-data-grid id="gridContainer" [dataSource]="bomDetails" keyExpr="lineNum" height="92%" [focusedRowEnabled]="true"
  [allowColumnResizing]="true" [allowColumnReordering]="true" [columnAutoWidth]="true" [rowAlternationEnabled]="true"
  [showBorders]="true" [showColumnLines]="true" [showRowLines]="true" (onKeyDown)="onKeyDown($event)"
  (onEditingStart)="logEvent('EditingStart')" (onInitNewRow)="logEvent('InitNewRow')"
  (onRowInserting)="logEvent('RowInserting')" (onRowInserted)="rowInserted($event)" (onRowUpdating)="rowUpdated($event)"
  (onRowUpdated)="logEvent('RowUpdated')" (onRowRemoving)="logEvent('RowRemoving')" (onRowRemoved)="rowRemoved($event)"
  (onSaving)="onSaving($event)" (onSaved)="logEvent('Saved')" (onEditCanceling)="logEvent('EditCanceling')"
  (onEditCanceled)="logEvent('EditCanceled')" (onSelectionChanged)="selectedChanged($event)"
  (onEditorPreparing)="onEditorPreparing($event)" (onFocusedRowChanged)="test($event)"
  (onInitialized)="onInitialized($event)" (OnToolbarPreparing)="onToolbarPreparing($event)">
  <dxo-row-dragging [allowReordering]="true" [onReorder]="onReorder" [showDragIcons]="!this.readOnly">
  </dxo-row-dragging>

  <dxo-toolbar>
    <dxi-item height="0" [visible]="false"></dxi-item>
  </dxo-toolbar>

  <dxo-scrolling mode="infinite"></dxo-scrolling>
  <dxo-selection mode="single"></dxo-selection>
  <dxo-editing mode="batch" [allowUpdating]="!this.readOnly" [allowDeleting]="!this.readOnly"
    [allowAdding]="!this.readOnly" newRowPosition="last">
  </dxo-editing>

  <dxi-column dataField="lineNum" dataType="number" [allowEditing]="false" width="5%" alignment="center"></dxi-column>
  <dxi-column dataField="itemtype" caption="MFR." [allowEditing]="false" width="10%"></dxi-column>
  <dxi-column dataField="itemNumber" caption="Part Number" [allowEditing]="true" width="12%">
    <dxi-validation-rule type="required"></dxi-validation-rule>
  </dxi-column>

  <dxi-column dataField="description" [allowEditing]="false" width="29%"></dxi-column>
  <dxi-column dataField="quantity" [allowEditing]="true" width="8%">
    <dxi-validation-rule type="required"></dxi-validation-rule>
  </dxi-column>
  <dxi-column dataField="uomref" caption="UOM" [allowEditing]="false" width="7%"></dxi-column>
  <dxi-column dataField="ref" [allowEditing]="true" width="9%"></dxi-column>
  <dxi-column dataField="cost" dataType="number" format="currency" [allowEditing]="false" width="10%">
    <dxo-format type="currency" [precision]="2"></dxo-format>
  </dxi-column>
  <dxi-column dataField="extCost" dataType="number" format="currency" [allowEditing]="false" width="10%"
    alignment="left">
    <dxo-format type="currency" [precision]="2"></dxo-format>
  </dxi-column>


  <dxi-column dataField="id" [allowEditing]="true"  width="0"></dxi-column>

  <dxi-column dataField="itemsid_Child" [allowEditing]="true" width="0"></dxi-column>


  <dxo-summary [recalculateWhileEditing]="true">
    <!-- <dxi-total-item column="lineNum" summaryType="count"> </dxi-total-item>
        <dxi-total-item column="cost" summaryType="sum" valueFormat="currency">
            <dxo-format type="fixedPoint" [precision]="2">
            </dxo-format>
        </dxi-total-item> -->
    <dxi-total-item column="extCost" summaryType="sum" displayFormat="Total: {0}" valueFormat="currency">
      <dxo-format type="fixedPoint" [precision]="2"> </dxo-format>
    </dxi-total-item>
  </dxo-summary>
</dx-data-grid>

<dx-button stylingMode="contained" text="Add Line" style="margin: 5px" type="default" (onClick)="AddBomLines()"
  [visible]="!this.readOnly">
</dx-button>



<div>
  <dx-popup
      [width]="800"
      [height]="800"
      [showTitle]="true"
      title="search partnumber"
      [dragEnabled]="false"
      [closeOnOutsideClick]="false"
      [showCloseButton]="true"
      container=".dx-viewport"
      [(visible)]="popupF2Visible"
    >
      <br />

      <app-pmsearch [componentType]="componentTypeF2"></app-pmsearch>
      <dxo-position at="center" my="center"> </dxo-position>
    </dx-popup>
</div>

<div>
  <dx-popup
  [width]="650"
  [height]="550"
  [showTitle]="true"
  title="Search"
  [dragEnabled]="false"
  [showCloseButton]="true"
  [(visible)]="basicPopupVisible"
  (onShown)="onShown($event)"
>

  <dxo-position at="center" my="center" of="window"></dxo-position>
  <div *dxTemplate="let data of 'content'">
    <dx-scroll-view width="100%" height="100%">
      <div id="textBlock" style="margin-top: 3px; margin-bottom: 10px">
           
        <div style="width:50%;float:left;padding-left: 20px;">
          <dx-text-box     
            [stylingMode]="StylingMode"
            [labelMode]="LabelMode"
            [elementAttr]="{ class: 'myclass' }"
            [ngAddLabel]="labelMap.partNumber_num"
            #f2partNumberVar>
         </dx-text-box>
        </div>
        <div style="width:50%;float:left;padding-left: 20px;">
        <dx-text-box     
          [stylingMode]="StylingMode"
          [labelMode]="LabelMode"
          [elementAttr]="{ class: 'myclass' }"
          [ngAddLabel]="labelMap.description_num"
          #f2partNumberDesc>
        </dx-text-box>
    </div>
 
 
      <div class="row" style="justify-content: center;padding-top: 20px;">
        <dx-button
          stylingMode="contained"
          text="Search"
          width="150"
          type="default"
          (onClick)="findPartNumbers(f2partNumberVar.value, f2partNumberDesc.value)"
        >
        </dx-button>
      </div>

      </div>
      <dx-list #grid id="gridContainer" 
        [dataSource]="pmSearchResults" 
        [hoverStateEnabled]="true" 
        selectionMode="single"
        [selectedItemKeys]="[selectedItemNumber]"   
        [height]="370" [focusStateEnabled]="true"
        (onSelectionChanged)="onSelectionChanged($event)" 
        (dblclick)="dblclick($event)"
        (keyDown)="onSelectionChanged($event)" sc>
        <div *dxTemplate="let item of 'item'">
          <div>
            <div class="name" style="font-weight:bold;">{{ item.itemNumber}}</div>
            <div class="description" style="font-style: italic;font-size: small;">{{ item.description }}</div>
          </div>
        </div>
      </dx-list>
    </dx-scroll-view>
  </div>
</dx-popup>
</div>