<dx-responsive-box singleColumnScreen="sm">
  <dxi-row [ratio]="0.50"></dxi-row>
  <dxi-row [ratio]="1"></dxi-row>
  <dxi-col [ratio]="0.75"></dxi-col>
  <dxi-col [ratio]="3"></dxi-col>

  <dxi-item>
    <dxi-location [row]="0" [col]="0" [rowspan]="2"></dxi-location>
    <div *dxTemplate class="details-container content-block dx-card responsive-paddings">
      <dx-form id="form" [colCount]="1">
        <dxi-item [colSpan]="1" *ngDisplayLabel="100" [isRequired]="false">
          <dx-text-box [stylingMode]="StylingMode" [labelMode]="LabelMode" [elementAttr]="{ class: 'myclass' }"
            [label]="'MDAT Number'">
          </dx-text-box>
        </dxi-item>
        <dxi-item [colSpan]="1" *ngDisplayLabel="100" [isRequired]="false">
          <dx-text-box [stylingMode]="StylingMode" [labelMode]="LabelMode" [elementAttr]="{ class: 'myclass' }"
            [ngAddLabel]="labelMap.er_num">
          </dx-text-box>
        </dxi-item>
        <dxi-item [colSpan]="1" *ngDisplayLabel="100" [isRequired]="false">
          <dx-text-box [stylingMode]="StylingMode" [labelMode]="LabelMode" [elementAttr]="{ class: 'myclass' }"
            [label]="'Packlist Number'">
          </dx-text-box>
        </dxi-item>
        <dxi-item [colSpan]="1" *ngDisplayLabel="100" [isRequired]="false">
          <dx-text-box [stylingMode]="StylingMode" [labelMode]="LabelMode" [elementAttr]="{ class: 'myclass' }"
            [ngAddLabel]="labelMap.status_num">
          </dx-text-box>
        </dxi-item>




        <dxi-item [colSpan]="1">

          <br />
          <dx-button stylingMode="contained" text="search" type="default" width="400">
          </dx-button>
          <br />
          <br />
          <dx-data-grid #grid id="gridContainer" [dataSource]="pmSearchResults" keyExpr="itemNumber"
            [columns]="['MDAT Number', 'description']" [hoverStateEnabled]="true" [showBorders]="true"
            [selectedRowKeys]="[]" height="50vh" (onSelectionChanged)="onSelectionChanged($event)">
            <dxo-scrolling rowRenderingMode="virtual"> </dxo-scrolling>
            <dxo-selection mode="single"></dxo-selection>
            <dxo-paging [pageSize]="10"> </dxo-paging>
            <dxo-pager [visible]="true" [allowedPageSizes]="[10, 20, 30]" displayMode="compact"
              [showPageSizeSelector]="false" [showInfo]="true" [showNavigationButtons]="true">
            </dxo-pager>
          </dx-data-grid>
        </dxi-item>
      </dx-form>
    </div>
  </dxi-item>

  <dxi-item>
    <dxi-location [row]="0" [col]="1"></dxi-location>
    <div *dxTemplate class="details-container content-block dx-card responsive-paddings">
      <dx-form id="form" [colCount]="4" labelMode="floating">

        <dxi-item [colSpan]="1" *ngDisplayLabel="100" [isRequired]="false">
          <dx-text-box [stylingMode]="StylingMode" [labelMode]="LabelMode" [elementAttr]="{ class: 'myclass' }"
            [label]="'MDAT Number'">
          </dx-text-box>
        </dxi-item>
        <dxi-item [colSpan]="1" *ngDisplayLabel="100" [isRequired]="false">
          <dx-text-box [stylingMode]="StylingMode" [labelMode]="LabelMode" [elementAttr]="{ class: 'myclass' }"
            [ngAddLabel]="labelMap.er_num">
          </dx-text-box>
        </dxi-item>
        <dxi-item [colSpan]="1" *ngDisplayLabel="100" [isRequired]="false">
          <dx-text-box [stylingMode]="StylingMode" [labelMode]="LabelMode" [elementAttr]="{ class: 'myclass' }"
            [label]="'ER desc'">
          </dx-text-box>
        </dxi-item>
        <dxi-item [colSpan]="1" [isRequired]="false">
          <dx-select-box width="100%" [searchEnabled]="true" [stylingMode]="StylingMode" [labelMode]="LabelMode"
            placeholder="Search" [ngAddLabel]="labelMap.status_num" displayExpr="itemtype" valueExpr="itemtype">
          </dx-select-box>
        </dxi-item>
        <dxi-item [colSpan]="1" *ngDisplayLabel="100" [isRequired]="false">
          <dx-text-box [stylingMode]="StylingMode" [labelMode]="LabelMode" [elementAttr]="{ class: 'myclass' }"
            [label]="'Packlist Number'">
          </dx-text-box>
        </dxi-item>
        <dxi-item [colSpan]="1">
          <dx-date-box [label]="'Submitted Date'"
            placeholder="Select..." [stylingMode]="StylingMode" [labelMode]="LabelMode" 
            style="margin-top: 10px"></dx-date-box>
        </dxi-item>
        <dxi-item [colSpan]="1">
          <dx-date-box [label]="'Approve Date'"
            placeholder="Select..." [stylingMode]="StylingMode" [labelMode]="LabelMode" 
            style="margin-top: 10px"></dx-date-box>
        </dxi-item>
        <dxi-item [colSpan]="1">
          <dx-date-box [label]="'Shipped Date'"
            placeholder="Select..." [stylingMode]="StylingMode" [labelMode]="LabelMode" 
            style="margin-top: 10px"></dx-date-box>
        </dxi-item>
        <dxi-item [colSpan]="1">
          <dx-date-box [label]="'Cancelled Date'"
            placeholder="Select..." [stylingMode]="StylingMode" [labelMode]="LabelMode" 
            style="margin-top: 10px"></dx-date-box>
        </dxi-item>
      </dx-form>
    </div>
  </dxi-item>
  <dxi-item>
    <dxi-location [row]="1" [col]="1"></dxi-location>
    <div *dxTemplate class="details-container content-block dx-card responsive-paddings">
      <dx-data-grid id="gridContainer" [dataSource]="customers" keyExpr="ID" height="40vh" [columns]="[
          'Line',
          'MDAT Number',
          'Status',
          'Submitted Date',
          'Approved Date',
          'Shipped Date'
        ]" [showBorders]="true">
      </dx-data-grid>
    </div>
  </dxi-item>
</dx-responsive-box>
<div class="col" style="text-align: center">
  <div class="details-container content-block dx-card responsive-paddings">
    <dx-button stylingMode="contained" text="Submit" type="default">
    </dx-button>
  </div>