<dx-responsive-box singleColumnScreen="sm">
  <dxi-row [ratio]="0.50"></dxi-row>
  <dxi-row [ratio]="1"></dxi-row>
  <dxi-col [ratio]="0.75"></dxi-col>
  <dxi-col [ratio]="3"></dxi-col>

  <dxi-item>
    <dxi-location [row]="0" [col]="0" [rowspan]="2"></dxi-location>
    <div *dxTemplate class="details-container content-block dx-card responsive-paddings">
      <form (submit)="handleSubmit($event)">
        <dx-form [(formData)]="mdatSearchInfo" id="form" [colCount]="1">
          <dxi-item [colSpan]="1" *ngDisplayLabel="100" [isRequired]="false">
            <dx-text-box [(value)]="mdatSearchInfo.mdatNum" [stylingMode]="StylingMode" [labelMode]="LabelMode"
              [elementAttr]="{ class: 'myclass' }" [label]="'MDAT Number'">
            </dx-text-box>
          </dxi-item>
          <dxi-item [colSpan]="1" *ngDisplayLabel="100" [isRequired]="false">
            <dx-text-box [(value)]="mdatSearchInfo.er" [stylingMode]="StylingMode" [labelMode]="LabelMode"
              [elementAttr]="{ class: 'myclass' }" [ngAddLabel]="labelMap.er_num">
            </dx-text-box>
          </dxi-item>
          <dxi-item [colSpan]="1" *ngDisplayLabel="100" [isRequired]="false">
            <dx-text-box [(value)]="mdatSearchInfo.packlistNum" [stylingMode]="StylingMode" [labelMode]="LabelMode"
              [elementAttr]="{ class: 'myclass' }" [label]="'Packlist Number'">
            </dx-text-box>
          </dxi-item>
          <dxi-item [colSpan]="1" *ngDisplayLabel="100" [isRequired]="false">
            <dx-text-box [(value)]="mdatSearchInfo.status" [stylingMode]="StylingMode" [labelMode]="LabelMode"
              [elementAttr]="{ class: 'myclass' }" [ngAddLabel]="labelMap.status_num">
            </dx-text-box>
          </dxi-item>
          <br>
          <dxi-item itemType="button" type="default" stylingMode="contained" style="justify-content: center;"
            [buttonOptions]="submitButtonOptions">
          </dxi-item>

          <dxi-item [colSpan]="1">

            <!-- <dx-data-grid #grid id="gridContainer" [dataSource]="pmSearchResults" keyExpr="mdatNum"
              [hoverStateEnabled]="true" [showBorders]="true"
              [selectedRowKeys]="[]" height="50vh" (onSelectionChanged)="onSelectionChanged($event)">
              <dxo-scrolling rowRenderingMode="virtual"> </dxo-scrolling>
              <dxo-selection mode="single"></dxo-selection>
              <dxo-paging [pageSize]="10"> </dxo-paging>

              <dxi-column dataField="mdatNum" caption="MDAT Number" [allowEditing]="false" width="50%"></dxi-column>
              <dxi-column dataField="description" [allowEditing]="false" width="50%"></dxi-column>

              <dxo-pager [visible]="true" [allowedPageSizes]="[10, 20, 30]" displayMode="compact"
                [showPageSizeSelector]="false" [showInfo]="true" [showNavigationButtons]="true">
              </dxo-pager>
            </dx-data-grid> -->

            <dx-list #grid id="gridContainer" [dataSource]="pmSearchResults" [hoverStateEnabled]="true"
              selectionMode="single" [selectedItemKeys]="[selectedItemNumber]" height="height: 52vh"
              [focusStateEnabled]="true" (onSelectionChanged)="onSelectionChanged($event)" pageLoadMode="scrollBottom"
              [(disabled)]="disabled">
              <div *dxTemplate="let item of 'item'">
                <div>
                  <div class="name">{{ item.mdatNum}}</div>
                  <div class="description" style="font-style: italic;font-size: small;">{{ item.description }}</div>
                </div>
              </div>
            </dx-list>
          </dxi-item>
        </dx-form>
      </form>
    </div>
  </dxi-item>

  <dxi-item>
    <dxi-location [row]="0" [col]="1"></dxi-location>
    <div *dxTemplate class="details-container content-block dx-card responsive-paddings">
      <dx-form id="form" [(formData)]="mdatDetails" labelMode="floating">

        <dxi-item itemType="group" [colCount]="4">
          <dxi-item itemType="group" [colSpan]="3" [colCount]="3">
            <dxi-item [colSpan]="1" *ngDisplayLabel="100" [isRequired]="false">
              <dx-text-box [(value)]="mdatDetails.mdatNum" [stylingMode]="StylingMode" [labelMode]="LabelMode"
                [elementAttr]="{ class: 'myclass' }" [label]="'MDAT Number'">
              </dx-text-box>
            </dxi-item>
            <dxi-item [colSpan]="1" *ngDisplayLabel="100" [isRequired]="false">
              <dx-select-box width="100%" [items]="erList" [(value)]="mdatDetails.somain" [searchEnabled]="true" [stylingMode]="StylingMode" [labelMode]="LabelMode"
                placeholder="ER" [ngAddLabel]="labelMap.er_num" displayExpr="soMain" valueExpr="soMain">
              </dx-select-box>
            </dxi-item>
            <dxi-item [colSpan]="1" *ngDisplayLabel="100" [isRequired]="false">
            </dxi-item>
            <dxi-item [colSpan]="1" *ngDisplayLabel="100" [isRequired]="false">
              <dx-date-box [value]="mdatDetails.submitted_date" type="date" [label]="'Submitted Date'" placeholder="Select..."
                (onValueChanged)="dateHandling($event, 'submitted_date')" [stylingMode]="StylingMode" [labelMode]="LabelMode" style="margin-top: 10px">
              </dx-date-box>
            </dxi-item>
            <dxi-item [colSpan]="1">
              <dx-date-box [value]="mdatDetails.approved_date" [label]="'Approve Date'" placeholder="Select..."
              (onValueChanged)="dateHandling($event, 'approved_date')" [stylingMode]="StylingMode" [labelMode]="LabelMode" style="margin-top: 10px">
              </dx-date-box>
            </dxi-item>
            <dxi-item [colSpan]="1">
              <dx-date-box [value]="mdatDetails.cancelled_date" [label]="'Cancelled Date'" placeholder="Select..."
              (onValueChanged)="dateHandling($event, 'cancelled_date')" [stylingMode]="StylingMode" [labelMode]="LabelMode" style="margin-top: 10px">
              </dx-date-box>
            </dxi-item>
            <dxi-item [colSpan]="1">
              <dx-number-box [(value)]="mdatDetails.packlistnum" [stylingMode]="StylingMode" [labelMode]="LabelMode"
                [elementAttr]="{ class: 'myclass' }" [label]="'Packlist Number'" [readOnly]="true">
              </dx-number-box>
            </dxi-item>
            <dxi-item [colSpan]="1">
              <dx-date-box [value]="mdatDetails.shipped_date" [label]="'Shipped Date'" placeholder="Select..."
                [stylingMode]="StylingMode" [labelMode]="LabelMode" [readOnly]="true" style="margin-top: 10px">
              </dx-date-box>
            </dxi-item>
            <dxi-item [colSpan]="1">
               <dx-select-box width="100%" [items]="statusList" [(value)]="mdatDetails.status" [searchEnabled]="true" [stylingMode]="StylingMode" [labelMode]="LabelMode"
                placeholder="Search" [ngAddLabel]="labelMap.status_num" [readOnly]="true" displayExpr="status" valueExpr="status">
              </dx-select-box>
            </dxi-item>
          </dxi-item>
          <dxi-item itemType="group" [colSpan]="1" [colCount]="1">
            <label>Notes</label>
            <textarea
              style="width: 100%; height: 150px"
            ></textarea>
          </dxi-item>
        </dxi-item>
      </dx-form>
    </div>
  </dxi-item>
  <dxi-item>
    <dxi-location [row]="1" [col]="1"></dxi-location>
    <div *dxTemplate class="details-container content-block dx-card responsive-paddings">
      <!-- <dx-data-grid id="gridContainer" [dataSource]="pmSearchResults" keyExpr="mdatNum" height="52vh"
        [showBorders]="true">
        <dxi-column dataField="" caption="Line"></dxi-column>
        <dxi-column dataField="mdatNum" caption="MDAT Number"></dxi-column>
        <dxi-column dataField="status" caption="Status"></dxi-column>
        <dxi-column dataField="submitted_date" caption="Submitted Date"></dxi-column>
        <dxi-column dataField="approved_date" caption="Approved Date"></dxi-column>
        <dxi-column dataField="shipped_date" caption="Shipped Date"></dxi-column>
      </dx-data-grid> -->
    </div>
  </dxi-item>
</dx-responsive-box>
<div class="col" style="text-align: center">
  <div class="details-container content-block dx-card responsive-paddings">
    <!-- <dx-button stylingMode="contained" text="Submit" type="default">
    </dx-button> -->
    <dx-box direction="row" width="100%">
      <dxi-item [ratio]="1.0" style="align-items:center">
        <dxi-item itemType="group" [colCount]="3">
          <dx-button stylingMode="contained" text="Add" type="default"
            (onClick)="mdatCRUDActionsSelectionChanged('Add')" [visible]="!saveExitVisible">
          </dx-button> &nbsp;
          <dx-button stylingMode="contained" text="Edit" type="default"
            (onClick)="mdatCRUDActionsSelectionChanged('Edit')" [visible]="!saveExitVisible">
          </dx-button> &nbsp;
          <dx-button stylingMode="contained" text="Delete" type="default"
            (onClick)="mdatCRUDActionsSelectionChanged('Delete')" [visible]="!saveExitVisible">
          </dx-button> &nbsp;
          <dx-button stylingMode="contained" text="Save" type="default"
            (onClick)="mdatCRUDActionsSelectionChanged('Save')" [visible]="saveExitVisible">
          </dx-button> &nbsp;
          <dx-button stylingMode="contained" text="Cancel" type="default"
            (onClick)="mdatCRUDActionsSelectionChanged('Cancel')" [visible]="saveExitVisible">
          </dx-button>
        </dxi-item>

        <dx-button-group [items]="pmActions2" stylingMode="contained" type="default" selectionMode="single"
          keyExpr="text" [visible]="saveExitVisible2" (onItemClick)="mdatCRUDActionsSelectionChanged($event)">
        </dx-button-group>
      </dxi-item>
    </dx-box>

  </div>