<dx-responsive-box singleColumnScreen="sm">
  <dxi-row [ratio]="1"></dxi-row>
  <dxi-row [ratio]="0.05"></dxi-row>
  <dxi-col [ratio]="0.75"></dxi-col>
  <dxi-col [ratio]="3"></dxi-col>

  <dxi-item>
    <dxi-location [row]="0" [col]="0"></dxi-location>
    <div *dxTemplate class="left-side-bar item">
      <app-pmsearch [componentType]="componentType"></app-pmsearch>
    </div>
  </dxi-item>
  <dxi-item>
    <dxi-location [row]="0" [col]="1"></dxi-location>
    <div *dxTemplate class="content item">
      <app-pmdetails></app-pmdetails>
    </div>
  </dxi-item>
  <dxi-item>
    <dxi-location [row]="1" [col]="0" [colspan]="2"></dxi-location>
    <div *dxTemplate class="footer item  content-block dx-card responsive-paddings" style="padding: 0px 0px 10px 0px;">
     <app-pmfooter [componentType]="componentType"></app-pmfooter>
    </div>
  </dxi-item>

</dx-responsive-box>