<dx-responsive-box singleColumnScreen="sm">
  <dxi-row [ratio]="1"></dxi-row>
  <dxi-row [ratio]="0.05"></dxi-row>
  <dxi-col [ratio]="0.75"></dxi-col>
  <dxi-col [ratio]="3"></dxi-col>

  <dxi-item>
    <dxi-location [row]="0" [col]="0"></dxi-location>
    <div *dxTemplate class="left-side-bar item">
      <app-pmsearch></app-pmsearch>
    </div>
  </dxi-item>
  <dxi-item>
    <dxi-location [row]="0" [col]="1"></dxi-location>
    <div *dxTemplate class="content item">
      <app-pmdetails></app-pmdetails>
    </div>
  </dxi-item>
  <dxi-item>
    <dxi-location [row]="1" [col]="0" [colspan]="2"></dxi-location>
    <div *dxTemplate class="footer item  content-block dx-card responsive-paddings" style="padding: 0px 0px 10px 0px;">
      <dx-box direction="row" width="100%">
        <dxi-item [ratio]="1" style="align-items:center;background-color: #F4F5F6;">
          <dx-radio-group [dataSource]="children" [(value)]="selctedChild" layout="horizontal">
          </dx-radio-group>
        </dxi-item>
      </dx-box>
      <dx-box direction="row" width="100%" style="margin-top: 10px;">
        <dxi-item [ratio]="0.5" style="align-items:center">
          <dx-button stylingMode="contained" text="Copy To New" type="default"
            (onClick)="logpmActionsSelectionChanged($event)">
          </dx-button>
        </dxi-item>
        <dxi-item [ratio]="0.5" style="align-items:center">

        </dxi-item>
        <dxi-item [ratio]="1.0" style="align-items:center">
          <dxi-item itemType="group" [colCount]="3">
            <dx-button stylingMode="contained" text="Add" type="default" (onClick)="logpmActionsSelectionChanged('Add')"
              [visible]="!saveExitVisible">
            </dx-button> &nbsp;
            <dx-button stylingMode="contained" text="Edit" type="default"
              (onClick)="logpmActionsSelectionChanged('Edit')" [visible]="!saveExitVisible">
            </dx-button> &nbsp;
            <dx-button stylingMode="contained" text="Delete" type="default"
              (onClick)="logpmActionsSelectionChanged('Delete')" [visible]="!saveExitVisible">
            </dx-button> &nbsp;
            <dx-button stylingMode="contained" text="Save" type="default"
              (onClick)="logpmActionsSelectionChanged('Save')" [visible]="saveExitVisible">
            </dx-button> &nbsp;
            <dx-button stylingMode="contained" text="Cancel" type="default"
              (onClick)="logpmActionsSelectionChanged('Cancel')" [visible]="saveExitVisible">
            </dx-button>
          </dxi-item>

          <dx-button-group [items]="pmActions2" stylingMode="contained" type="default" selectionMode="single"
            keyExpr="text" [visible]="saveExitVisible2" (onItemClick)="logpmActionsSelectionChanged($event)">
          </dx-button-group>
        </dxi-item>
        <dxi-item [ratio]="1">
          <dxi-item itemType="group" [colCount]="3">
            <dx-button stylingMode="contained" text="User Fields" type="default" [visible]="true"
              (onClick)="logpmActions2SelectionChanged('User Fields')">
            </dx-button> &nbsp;
            <dx-button stylingMode="contained" text="View Locations" type="default" [visible]="true"
              (onClick)="logpmActions2SelectionChanged('View Locations')">
            </dx-button> &nbsp;
            <dx-button stylingMode="contained" text="Preview/Print" type="default" [visible]="true"
              (onClick)="logpmActions2SelectionChanged('Preview/Print')">
            </dx-button>
          </dxi-item>
          <dx-button-group [items]="pmActions1" stylingMode="contained" type="default" selectionMode="single"
            keyExpr="text" [visible]="saveExitVisible2" (onItemClick)="logpmActionsSelectionChanged($event)">
          </dx-button-group>

        </dxi-item>
      </dx-box>
    </div>
  </dxi-item>

</dx-responsive-box>