@import "../../../../themes/generated/variables.base.scss";

::ng-deep .left {
  float: left; 
  padding: 5px;
  background: rgba(191, 191, 191, 0.15);
  margin-right: 5px;
}

::ng-deep .right {
  overflow: hidden;
}