::ng-deep #quantityId {
  font-size: 20px !important;
  font-weight: bold;
}

::ng-deep #costId {
  font-size: 20px !important;
  font-weight: bold;
}

::ng-deep #form-container {
  // margin: 10px 10px 30px;
}

::ng-deep .long-title h3 {
  font-family: 'Segoe UI Light', 'Helvetica Neue Light', 'Segoe UI', 'Helvetica Neue', 'Trebuchet MS', Verdana;
  font-weight: 200;
  font-size: 28px;
  text-align: center;
  margin-bottom: 20px;
}

::ng-deep .custom-height-slider {
  height: 75px;
}

::ng-deep .dx-field > .dx-rangeslider {
  flex: 1;
}


::ng-deep #gauge-demo {
  width: 90%;
  margin: 0 auto;
}

::ng-deep #gauge-demo .gauge-element {
  height: 400px;
  width: 33%;
  float: left;
}

.dx-selectbox {
  margin: 10px auto 0;
  width: 200px;
}

::ng-deep #gauge-demo::after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.long-title h3 {
  font-weight: 200;
  font-size: 28px;
  text-align: center;
  margin-bottom: 20px;
}

::ng-deep .dx-field-item {
  padding-top: 2px;
  padding-bottom: 2px;
}





