<dx-load-panel
  #loadPanel
  shadingColor="rgba(0,0,0,0.4)"
  [position]="{ of: 'window' }"
  [(visible)]="loadingVisible"
  [showIndicator]="true"
  [showPane]="true"
  [shading]="true"
>
</dx-load-panel>

<dx-responsive-box singleColumnScreen="sm" style="height: 100vh">
  <dxi-row [ratio]="1"></dxi-row>
  <dxi-row [ratio]="0.05"></dxi-row>
  <dxi-col [ratio]="0.75"></dxi-col>
  <dxi-col [ratio]="3"></dxi-col>

  <dxi-item>
    <dxi-location [row]="0" [col]="0"></dxi-location>
    <div *dxTemplate class="left-side-bar item">
      <app-pmsearch [componentType]="componentType" #varPmSearch></app-pmsearch>
    </div>
  </dxi-item>

  <dxi-item>
    <dxi-location [row]="0" [col]="1"></dxi-location>
    <div *dxTemplate class="content item">
      <div class="details-container content-block dx-card responsive-paddings">
        <ng-container *ngIf="pmDetails?.itemNumber != ''">
          <div style="border-bottom: 2px solid #eee; padding-bottom: 10px">
            <app-inventory-status
              [itemsId]="itemsId"
              [secUserId]="secUserId"
            ></app-inventory-status>

            <h3 style="padding-bottom: 0px; margin-bottom: 0px">
              <span>{{ pmDetails?.itemNumber }}</span>
              <span style="font-style: italic; color: rgb(93, 124, 224)">
                ({{ pmDetails?.description }})</span
              >
            </h3>
          </div>
        </ng-container>
        <br />

        <!-- Form Container starts        -->
        <div id="form-container">
          <dx-form
            id="form"
            [formGroup]="myForm"
            [colCount]="4"
            #formDirective="ngForm"
          >
            <!-- Reason Code Starts  -->
            <dxi-item [colSpan]="1" style="margin-top: 20px">
              <dx-select-box
                formControlName="miscReason"
                width="100%"
                [items]="reasonsStr"
                [value]="defaultReason"
                [searchEnabled]="true"
                [stylingMode]="StylingMode"
                [labelMode]="LabelMode"
                placeholder="Search"
                [ngAddLabel]="labelMap.reasonCode_num"
                #varReasonCode
                (onFocusIn)="openReasonCodeBox()"
                [isValid]="isValid(miscReasonCntl)"
                [validationError]="{ message: 'Reason Code is required' }"
              ></dx-select-box>
            </dxi-item>
            <!-- Reason Code Ends  -->

            <!-- Transaction Date Starts  -->
            <dxi-item [colSpan]="1" style="margin-top: 20px">
              <dx-date-box
                formControlName="transDate"
                [value]="todayDate"
                [ngAddLabel]="labelMap.txnDate_num"
                placeholder="Select..."
                [stylingMode]="StylingMode"
                [labelMode]="LabelMode"
                style="margin-top: 10px"
                [isValid]="isValid(transDateCntl)"
                [validationError]="{ message: 'Txn Date is required' }"
              ></dx-date-box>
            </dxi-item>
            <!-- Transaction Date Ends  -->

            <!-- Source Starts  -->
            <dxi-item [colSpan]="1" style="margin-top: 20px">
              <dx-text-box
                formControlName="miscSource"
                [value]="defaultSource"
                width="100%"
                [ngAddLabel]="labelMap.source_num"
                placeholder="Type..."
                [stylingMode]="StylingMode"
                [labelMode]="LabelMode"
              ></dx-text-box>

              <dx-check-box
                [value]="false"
                text="Remember"
                class="mt-1"
                style="font-size: 10px"
                (onValueChanged)="handleSourceValueChange($event)"
              ></dx-check-box>
            </dxi-item>
            <!-- Source Ends  -->

            <!-- Ref Starts  -->
            <dxi-item [colSpan]="1" style="margin-top: 20px">
              <dx-text-box
                formControlName="miscRef"
                [value]="defaultRef"
                width="100%"
                label="Ref"
                [ngAddLabel]="labelMap.ref_num"
                placeholder="Type..."
                [stylingMode]="StylingMode"
                [labelMode]="LabelMode"
              ></dx-text-box>

              <dx-check-box
                [value]="false"
                text="Remember"
                class="mt-1"
                style="font-size: 10px"
                (onValueChanged)="handleRefValueChange($event)"
              ></dx-check-box>
            </dxi-item>
            <!-- Ref Ends  -->

            <!-- Notes Starts  -->
            <dxi-item [colSpan]="2">
              <label>Notes</label>
              <textarea
                formControlName="notes"
                style="width: 100%; height: 40px"
              ></textarea>
            </dxi-item>
            <!-- Notes Ends  -->
            <dxi-item>
              <dx-button
                stylingMode="StylingMode"
                text="Update"
                type="default"
                style="width: 150px; margin-top: 25px"
                (click)="update()"
              ></dx-button>
            </dxi-item>
          </dx-form>
        </div>
        <!-- Form Container Ends-->
      </div>

      <div class="details-container content-block dx-card responsive-paddings">
        <div class="container">
          <div class="row">
            <div class="row p-0" style="display: flex">
              <span style="flex: 1 1 0"></span>

              <div class="col-2">
                <dx-date-box
                  [value]="fromDate"
                  [ngAddLabel]="labelMap.fromDate_num"
                  placeholder="From Date"
                  [stylingMode]="StylingMode"
                  [labelMode]="LabelMode"
                  style="margin-top: 5px"
                  (onValueChanged)="fromDatehandler($event)"
                ></dx-date-box>
              </div>

              <div class="col-2">
                <dx-date-box
                  [value]="toDate"
                  [ngAddLabel]="labelMap.toDate_num"
                  placeholder="To Date"
                  [stylingMode]="StylingMode"
                  [labelMode]=" LabelMode"
                  style="margin-top: 5px"
                  (onValueChanged)="toDatehandler($event)"
                ></dx-date-box>
              </div>

              <div class="col-2">
                <div
                  style="margin-top: 17px; font-size: 17px; font-weight: bold"
                >
                  <a href="#" (click)="refreshLog()">Refresh Log</a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div
          style="
            height: calc(100vh - 530px);
            float: left;
            margin: 0px;
            margin-bottom: 10px;
            padding: 0px;
          "
        >
          <app-trans-log [data]="trasLogArray"></app-trans-log>
        </div>
      </div>
    </div>
  </dxi-item>
</dx-responsive-box>

<ng-container *ngIf="this.pmDetails.invType == 'SERIAL'">
  <dx-popup
    [width]="850"
    [height]="550"
    [showTitle]="true"
    title="Decrease Serial"
    [dragEnabled]="false"
    [showCloseButton]="true"
    [(visible)]="serialPopupVisible"
  >
    <dxi-toolbar-item
      widget="dxButton"
      toolbar="bottom"
      location="after"
      [options]="closeSerialPopUp"
    >
    </dxi-toolbar-item>
    <dxi-toolbar-item
      widget="dxButton"
      toolbar="bottom"
      location="after"
      [options]="saveSerialPopUp"
    ></dxi-toolbar-item>

    <dxo-position at="center" my="center" of="window"></dxo-position>

    <div *dxTemplate="let data of 'content'">
      <app-status></app-status>

      <dx-scroll-view width="100%" height="100%">
        <div id="textBlock" style="margin-top: 3px; margin-bottom: 10px">
          <form [formGroup]="myForm">
            <table class="pure-table pure-table-horizontal" style="width: 100%">
              <thead>
                <tr>
                  <th>Line</th>
                  <th>Warehouse</th>
                  <th>Location</th>
                  <th>Serial #</th>
                  <th>Tag #</th>
                  <th>Model</th>
                  <th>Cost</th>
                  <th>Pick</th>
                </tr>
              </thead>

              <tbody formArrayName="serialInvDet">
                <tr
                  *ngFor="let obj of serialInvDetForms.controls; let i = index"
                  [formGroupName]="i"
                >
                  <td>{{ i + 1 }}</td>
                  <td>{{ obj.get("warehouse")?.value }}</td>
                  <td>{{ obj.get("location")?.value }}</td>
                  <td>{{ obj.get("serNo")?.value }}</td>
                  <td>{{ obj.get("tagNo")?.value }}</td>
                  <td>{{ obj.get("model")?.value }}</td>
                  <td>{{ obj.get("cost")?.value }}</td>
                  <td>
                    <input
                      type="checkbox"
                      formControlName="isQuantitySelectedForDecrease"
                    />
                  </td>
                </tr>
              </tbody>
            </table>
          </form>
        </div>
      </dx-scroll-view>
    </div>
  </dx-popup>
</ng-container>

<ng-container *ngIf="this.pmDetails.invType == 'BASIC'">
  <dx-popup
    [width]="650"
    [height]="550"
    [showTitle]="true"
    title="Decrease Basic"
    [dragEnabled]="false"
    [showCloseButton]="true"
    [(visible)]="basicPopupVisible"
    (onShowing)="initPopUp()"
  >
    <dxi-toolbar-item
      widget="dxButton"
      toolbar="bottom"
      location="after"
      [options]="closeBasicPopUp"
    >
    </dxi-toolbar-item>
    <dxi-toolbar-item
      widget="dxButton"
      toolbar="bottom"
      location="after"
      [options]="saveBasicPopUp"
    ></dxi-toolbar-item>

    <dxo-position at="center" my="center" of="window"></dxo-position>

    <form [formGroup]="myForm">
      <div *dxTemplate="let data of 'content'">
        <app-status></app-status>
        <dx-scroll-view width="100%" height="100%">
          <div id="textBlock" style="margin-top: 3px; margin-bottom: 10px">
            <form [formGroup]="myForm">
              <table
                class="pure-table pure-table-horizontal"
                style="width: 100%"
              >
                <thead>
                  <tr>
                    <th>Line</th>
                    <th>Warehouse</th>
                    <th>Location</th>
                    <th>ER</th>
                    <th>Quantity</th>
                    <th>Cost</th>
                    <th>Pick Quantity</th>
                  </tr>
                </thead>

                <tbody formArrayName="serialInvDet">
                  <tr
                    *ngFor="
                      let obj of serialInvDetForms.controls;
                      let i = index
                    "
                    [formGroupName]="i"
                  >
                    <td>{{ i + 1 }}</td>
                    <td>{{ obj.get("warehouse")?.value }}</td>
                    <td>{{ obj.get("location")?.value }}</td>
                    <td>{{ obj.get("er")?.value }}</td>
                    <td>{{ obj.get("quantity")?.value }}</td>
                    <td>{{ obj.get("cost")?.value }}</td>
                    <td>
                      <input
                        formControlName="selectedQuantity"
                        style="text-align: right; width: 100px"
                        id="{{ getDynamicElementId(i) }}"
                      />
                    </td>
                  </tr>
                </tbody>
              </table>
            </form>
          </div>
        </dx-scroll-view>
      </div>
    </form>
  </dx-popup>
</ng-container>
