::ng-deep #quantityId {
  font-size: 20px !important;
  font-weight: bold;
}

::ng-deep #costId {
  font-size: 20px !important;
  font-weight: bold;
}

::ng-deep #form-container {
  // margin: 10px 10px 30px;
}

::ng-deep .long-title h3 {
  font-family: 'Segoe UI Light', 'Helvetica Neue Light', 'Segoe UI', 'Helvetica Neue', 'Trebuchet MS', Verdana;
  font-weight: 200;
  font-size: 28px;
  text-align: center;
  margin-bottom: 20px;
}

::ng-deep .custom-height-slider {
  height: 75px;
}

::ng-deep .dx-field > .dx-rangeslider {
  flex: 1;
}


::ng-deep #gauge-demo {
  width: 90%;
  margin: 0 auto;
}

::ng-deep #gauge-demo .gauge-element {
  height: 400px;
  width: 33%;
  float: left;
}

.dx-selectbox {
  margin: 10px auto 0;
  width: 200px;
}

::ng-deep #gauge-demo::after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.long-title h3 {
  font-weight: 200;
  font-size: 28px;
  text-align: center;
  margin-bottom: 20px;
}

::ng-deep .dx-field-item {
  padding-top: 2px;
  padding-bottom: 2px;
}

.pure-table{border-collapse:collapse;border-spacing:0;empty-cells:show;border:1px solid #cbcbcb}.pure-table caption{color:#000;font:italic 85%/1 arial,sans-serif;padding:1em 0;text-align:center}.pure-table td,.pure-table th{border-left:1px solid #cbcbcb;border-width:0 0 0 1px;font-size:inherit;margin:0;overflow:visible;padding:.5em 1em}.pure-table thead{background-color:#e0e0e0;color:#000;text-align:left;vertical-align:bottom}.pure-table td{background-color:transparent}.pure-table-odd td{background-color:#f2f2f2}.pure-table-striped tr:nth-child(2n-1) td{background-color:#f2f2f2}.pure-table-bordered td{border-bottom:1px solid #cbcbcb}.pure-table-bordered tbody>tr:last-child>td{border-bottom-width:0}.pure-table-horizontal td,.pure-table-horizontal th{border-width:0 0 1px 0;border-bottom:1px solid #cbcbcb}.pure-table-horizontal tbody>tr:last-child>td{border-bottom-width:0}



