<div class="details-container content-block dx-card responsive-paddings">
    <div class="pmdetails-container ">
        <dx-form [(formData)]="pmDetails" labelMode="floating" labelLocation="left" width="800"
            (submit)="handleSubmit($event)">
            <dxi-item itemType="group" [colCount]="4">
                <dxi-item dataField="partNumber" [colSpan]="1" [isRequired]="true"></dxi-item>
                <dxi-item dataField="itemType" caption="MFR" [colSpan]="1"></dxi-item>
                <dxi-item dataField="itemClass" [colSpan]="1"></dxi-item>
                <dxi-item dataField="itemCode" [colSpan]="1"></dxi-item>
            </dxi-item>
            <dxi-item itemType="group">
                <dx-text-area dataField="description"  label="Description"></dx-text-area>
            </dxi-item>
            <dxi-item itemType="group" [colCount]="2">
                <dxi-item itemType="group" [colCount]="3">
                    <dxi-item dataField="cost"></dxi-item>
                    <dxi-item dataField="markup"></dxi-item>
                    <dxi-item dataField="price"></dxi-item>
                </dxi-item>
                <dxi-item itemType="group" [colCount]="2">
                    <dxi-item dataField="uom" label="UOM"></dxi-item>
                    <dxi-item dataField="maintenance"></dxi-item>
                </dxi-item>
            </dxi-item>
            <dxi-item itemType="group" [colCount]="3">
                <dxi-item itemType="group" [colCount]="2    ">
                    <dxi-item dataField="defaultWarehouse" text="Warehouse"></dxi-item>
                    <dxi-item dataField="defaultLocation" text="Location"></dxi-item>
                </dxi-item>
                <dxi-item itemType="group" [colCount]="2">
                    <dx-radio-group [dataSource]="invTypes" dataField="invType" layout="horizontal">
                    </dx-radio-group>
                </dxi-item>
                <dxi-item itemType="group" [colCount]="3" class="checkClass" >
                    <dx-check-box text="Obsolete" dataField="obsolete"></dx-check-box> &nbsp;
                    <dx-check-box text="TAA" dataField="taa"></dx-check-box>&nbsp;
                    <dx-check-box text="Create PO" dataField="createPO"></dx-check-box>&nbsp;
                </dxi-item>
            </dxi-item>
        </dx-form>
    </div>
</div>

<div class="details-container content-block dx-card responsive-paddings">
    <dx-data-grid id="gridContainer" [dataSource]="pmpoviewArray" keyExpr="ID"
        [columns]="['Line', 'PO', 'Supplier', 'Quantity', 'Recd Qty', 'SO']" [showBorders]="true">
    </dx-data-grid>
</div>