::ng-deep .pmdetails-container {
    padding: 10px;
    max-width: 800px;
    min-width: 780px;
}

::ng-deep #form {
    margin-top: 25px;
}

::ng-deep .details-container {
    margin: 10px 10px 30px;
    max-width: 1000px;
    min-width: 800px;
}

.checkClass {
    padding-left: 5px;
    margin-top: 5px;
}