<div class="details-container content-block dx-card responsive-paddings">
    <div class="pmdetails-container ">
        <dx-form id="pmDetails" [(formData)]="pmDetails" labelMode="floating" labelLocation="left"
            (submit)="handleSubmit($event)" [readOnly]="readOnly">
            <dxi-item itemType="group" [colCount]="2">
                <dxi-item itemType="group" [colCount]="2">
                    <dxi-item dataField="itemNumber" [colSpan]="1">
                        <dxi-validation-rule type="required" message="Part Number is required">
                        </dxi-validation-rule>
                    </dxi-item>

                    <dxi-item dataField="itemType" editorType="dxLookup" [isRequired]="true"
                        [editorOptions]="{ label:'MFR',items: itemTypeList, showDataBeforeSearch:true,searchEnabled: true, searchExpr:'itemtype', displayExpr:'itemtype', valueExpr:'itemtype', searchMode:'contains' }">
                        <dxi-validation-rule type="required" message="MFR is required"></dxi-validation-rule>
                    </dxi-item>
                </dxi-item>
                <dxi-item itemType="group" [colCount]="4">
                    <!-- <dxi-item dataField="uomref" [label]="{ text: 'UOM' }"></dxi-item> -->
                    <dxi-item dataField="uomref" editorType="dxLookup" [isRequired]="true"
                        [editorOptions]="{ label:'UOM',items: uomList, showDataBeforeSearch:true,searchEnabled: true, searchExpr:'uom', displayExpr:'uom', valueExpr:'uom', searchMode:'contains'  }">
                        <dxi-validation-rule type="required" message="UOM is required"></dxi-validation-rule>
                    </dxi-item>
                    <dxi-item dataField="leadTime" [label]="{ text: 'Maintenance(days)' }"></dxi-item>
                    <!-- <dxi-item dataField="itemClass" [colSpan]="1"></dxi-item> -->
                    <dxi-item dataField="itemClass" editorType="dxLookup" [colSpan]="1"
                        [editorOptions]="{ label:'Item Class',items: itemClassList, showDataBeforeSearch:true,searchEnabled: true, searchExpr:'itemclass', displayExpr:'itemclass', valueExpr:'itemclass', showClearButton:true, searchMode:'contains'  }">
                    </dxi-item>
                    <!-- <dxi-item dataField="itemCode" [colSpan]="1"></dxi-item> -->
                    <dxi-item dataField="itemCode" editorType="dxLookup" [colSpan]="1"
                        [editorOptions]="{ label:'Item Code',items: itemCodeList, showDataBeforeSearch:true,searchEnabled: true, searchExpr:'itemcode', displayExpr:'itemcode', valueExpr:'itemcode', showClearButton:true, searchMode:'contains'  }">
                    </dxi-item>
                </dxi-item>
            </dxi-item>
            <dxi-item itemType="group" [colCount]="2">
                <dxi-item dataField="description" [colCount]="1" editorType="dxTextArea"
                    [label]="{text: 'Description (Max 150 characters)'}">

                </dxi-item>
                <dxi-item itemType="group" [colCount]="3">
                    <dxi-item dataField="cost">
                        <dxo-format type="fixedPoint" [precision]="2"></dxo-format>
                    </dxi-item>
                    <dxi-item dataField="markup"></dxi-item>
                    <dxi-item dataField="price">
                        <dxo-format type="fixedPoint" [precision]="2"></dxo-format>
                    </dxi-item>
                </dxi-item>
            </dxi-item>
            <dxi-item itemType="group" [colCount]="2">
                <dxi-item itemType="group" [colCount]="2">
                    <dxi-item>
                        <dx-lookup [items]="warehouseNames" [(value)]="pmDetails.warehouse" [placeholder]="warehouseLbl"
                            [label]="warehouseLbl" searchMode="contains" [minSearchLength]="1" [searchEnabled]="true"
                            [showDataBeforeSearch]="true" [contentEditable]="!this.readOnly"
                            (onValueChanged)="updateWarehouseSelection(this.pmDetails.warehouse)">
                            <dxo-drop-down-options [showTitle]="true"></dxo-drop-down-options>
                            <dxi-validation-rule type="required" message="Warehouse is required"></dxi-validation-rule>
                        </dx-lookup>

                    </dxi-item>
                    <dxi-item>
                        <dx-lookup [items]="validLocationNames" [(value)]="pmDetails.location"
                            [placeholder]="locationLbl" [label]="locationLbl" [searchEnabled]="true">
                            <dxo-drop-down-options [showTitle]="true"></dxo-drop-down-options>
                            <dxi-validation-rule type="required" message="Location is required"></dxi-validation-rule>
                        </dx-lookup>

                    </dxi-item>

                </dxi-item>
                <dxi-item itemType="group" [colCount]="3">
                    <dxi-item [colCount]="1" editorType="dxRadioGroup" [label]="{text: ' '}" dataField="invType"
                        [isRequired]="true" [editorOptions]=" {items: invTypes,   layout: 'horizontal' }"
                        style="align-items:center;background-color: #F4F5F6;">
                        <dxi-validation-rule type="required" message="Inv Type is required"></dxi-validation-rule>
                    </dxi-item>
                    <dxi-item itemType="group" [colCount]="3" [colSpan]="2" class="checkClass"
                        style="align-items:center;background-color: #F4F5F6;">
                        <dxi-item editorType="dxCheckBox" dataField="obsolete" [label]="{text: ' '}"
                            [editorOptions]="{text: 'Obsolete'}">
                        </dxi-item>
                        <dxi-item editorType="dxCheckBox" dataField="userBit" [label]="{text: ' '}"
                            [editorOptions]="{ text: 'TAA'}">
                        </dxi-item>
                        <dxi-item itemType="simple" editorType="dxCheckBox" dataField="userBit2" [label]="{text: ' '}"
                            [editorOptions]="{ text: 'Create PO'}">
                        </dxi-item>
                    </dxi-item>
                </dxi-item>
            </dxi-item>
            <dxi-item itemType="group" [colCount]="2" [visible]="false">
                <dxi-item itemType="button" horizontalAlignment="left" [buttonOptions]="buttonOptions"
                    id="pmDetailsSubmit">
                </dxi-item>
            </dxi-item>
            <dxi-item itemType="group" [colCount]="2" [visible]="false">
                <dxi-item itemType="button" horizontalAlignment="left" [buttonOptions]="buttonOptions"
                    id="pmDetailsSubmit">
                </dxi-item>
            </dxi-item>
        </dx-form>
    </div>
</div>

<div class="details-container content-block dx-card responsive-paddings">
    <ng-container [ngSwitch]="selectedChild">
        <ng-container *ngSwitchCase="childType.BOM">
            <dx-data-grid id="gridContainer" [dataSource]="bomDetails" keyExpr="id" height="54vh"
                [allowColumnReordering]="true" [focusedRowEnabled]="true" [allowColumnResizing]="true"
                [rowAlternationEnabled]="true" (onEditingStart)="logEvent('EditingStart')"
                (onInitNewRow)="logEvent('InitNewRow')" (onRowInserting)="logEvent('RowInserting')"
                (onRowInserted)="logEvent('RowInserted')" (onRowUpdating)="logEvent('RowUpdating')"
                (onRowUpdated)="logEvent('RowUpdated')" (onRowRemoving)="logEvent('RowRemoving')"
                (onRowRemoved)="logEvent('RowRemoved')" (onSaving)="logEvent('Saving')" (onSaved)="logEvent('Saved')"
                (onEditCanceling)="logEvent('EditCanceling')" (onEditCanceled)="logEvent('EditCanceled')">
                <dxo-load-panel [enabled]="false"></dxo-load-panel>
                <dxo-scrolling mode="infinite"></dxo-scrolling>
                <dxo-selection mode="single"></dxo-selection>
                <dxo-editing mode="cell" refreshMode="full" [allowAdding]="true" [allowUpdating]="true"
                    [allowDeleting]="true">
                </dxo-editing>
                <dxi-column dataField="lineNum" dataType="number"></dxi-column>
                <dxi-column dataField="itemtype" dataType="string" caption="MFR."></dxi-column>
                <dxi-column dataField="itemNumber" caption="Part Number" dataType="string"></dxi-column>
                <dxi-column dataField="description" dataType="string"></dxi-column>
                <dxi-column dataField="quantity" dataType="number"></dxi-column>
                <dxi-column dataField="uomref" dataType="string"></dxi-column>
                <dxi-column dataField="ref" dataType="string"></dxi-column>
                <dxi-column dataField="comments" dataType="string"></dxi-column>
                <dxi-column dataField="cost" dataType="number" format="currency" [allowEditing]="false">
                    <dxo-format type="fixedPoint" [precision]="2"></dxo-format>
                </dxi-column>
                <dxi-column dataField="extCost" dataType="number" format="currency" [allowEditing]="false">
                    <dxo-format type="fixedPoint" [precision]="2"></dxo-format>
                </dxi-column>

                <dxo-summary>
                    <dxi-total-item column="lineNum" summaryType="count"> </dxi-total-item>
                    <dxi-total-item column="cost" summaryType="sum" valueFormat="currency">
                        <dxo-format type="fixedPoint" [precision]="2">
                        </dxo-format>
                    </dxi-total-item>
                    <dxi-total-item column="extCost" summaryType="sum" valueFormat="currency">
                        <dxo-format type="fixedPoint" [precision]="2">
                        </dxo-format>
                    </dxi-total-item>
                </dxo-summary>
            </dx-data-grid>
        </ng-container>
        <ng-container *ngSwitchCase="childType.PO">
            <dx-data-grid id="gridContainer" [dataSource]="poDetails" keyExpr="id" height="54vh"
                [focusedRowEnabled]="true" [allowColumnResizing]="true" [rowAlternationEnabled]="true"
                [columns]="['linenum','pomain', 'supplier', 'quantity', 'received', 'somain']">
                <dxo-load-panel [enabled]="false"></dxo-load-panel>
                <dxo-scrolling mode="infinite"></dxo-scrolling>
                <dxo-selection mode="single"></dxo-selection>

            </dx-data-grid>
        </ng-container>
    </ng-container>

    <div>
        <dx-popup [width]="400" [height]="150" [showTitle]="true" title="Do you like to copy BOM as well?"
            [dragEnabled]="false" [closeOnOutsideClick]="false" [showCloseButton]="true" container=".dx-viewport"
            [(visible)]="popupCopyBomVisible">
            <dxi-toolbar-item widget="dxButton" toolbar="bottom" location="center" [options]="yesButtonOptions">
            </dxi-toolbar-item>
            <dxi-toolbar-item widget="dxButton" toolbar="bottom" location="center" [options]="noButtonOptions">
            </dxi-toolbar-item>
            <dxo-position at="center" my="center"> </dxo-position>

        </dx-popup>
        <dx-toast [(visible)]="toastVisible" [(type)]="toastType" [(message)]="toastMessage"></dx-toast>
    </div>
    <div>
        <dx-popup [width]="800" [height]="800" [showTitle]="true" title="View Location" [dragEnabled]="false"
            [closeOnOutsideClick]="false" [showCloseButton]="true" container=".dx-viewport"
            [(visible)]="popupVLVisible">
            <dx-lookup [items]="warehouseNames" [placeholder]="warehouseLbl" [showClearButton]="true" [width]="400"
                [label]="warehouseLbl" searchMode="contains" [minSearchLength]="1" [searchEnabled]="true"
                [showDataBeforeSearch]="true" [contentEditable]="!this.readOnly"
                (onValueChanged)="WarehouseLocationSelection( $event)">
                <dxo-drop-down-options [showTitle]="true"></dxo-drop-down-options>
                <dxi-validation-rule type="required" message="Warehouse is required"></dxi-validation-rule>
            </dx-lookup>

            <br />

            <dx-data-grid id="gridContainer" [dataSource]="pmWHLocations" keyExpr="location" height="54vh"
                [allowColumnReordering]="true" [focusedRowEnabled]="true" [allowColumnResizing]="true"
                [rowAlternationEnabled]="true">
                <dxo-load-panel [enabled]="false"></dxo-load-panel>
                <dxo-scrolling mode="infinite"></dxo-scrolling>
                <dxo-selection mode="single"></dxo-selection>
                <dxi-column dataField="warehouse" dataType="string"></dxi-column>
                <dxi-column dataField="location" dataType="string"></dxi-column>
                <dxi-column dataField="somain" caption="Equip Request" dataType="string"></dxi-column>
                <dxi-column dataField="name" dataType="string" caption="Project Name"></dxi-column>
                <dxi-column dataField="quantity" dataType="number"></dxi-column>

            </dx-data-grid>

            <dxi-toolbar-item widget="dxButton" toolbar="bottom" location="right"
                [options]="viewLocationPrintButtonOptions">
            </dxi-toolbar-item>
            <dxo-position at="center" my="center"> </dxo-position>

        </dx-popup>
        <dx-toast [(visible)]="toastVisible" [(type)]="toastType" [(message)]="toastMessage"></dx-toast>
    </div>

</div>