
<div class="details-container content-block dx-card responsive-paddings">
  <div class="row"><h6>Select Inquiry Option</h6></div>
  <div class="row" style="align-items: center">
    <dx-form id="form" [colCount]="5">
      <dxi-item [colSpan]="2">
        <dx-radio-group
          [items]="inquiryOptions"
          [value]="inquiryOptions[0]"
          layout="horizontal"
          (onValueChanged)="onValueChanged($event)"
        ></dx-radio-group>
      </dxi-item>
      <dxi-item [colSpan]="1">
        <dx-text-box [label]="searchLabel" value=" "></dx-text-box
      ></dxi-item>
      <dxi-item [colSpan]="1">
        <dx-button
          stylingMode="outlined"
          text="search"
          text-align="center"
          type="success"
        >
        </dx-button>
      </dxi-item>
      <dxi-item [colSpan]="1"></dxi-item>
    </dx-form>
  </div>
  <div class="row">
    <dx-data-grid
      id="gridContainer"
      [dataSource]="inventoryArray"
      keyExpr="ID"
      height="50vh"
      [columns]="[
        'MFR',
        'Part Number',
        'Description',
        'Location',
        'Qty',
        'SERIAL',
        'TAG',
        'ER',
        'MDAT In'
      ]"
      [showBorders]="true"
    >
    </dx-data-grid>
  </div>
  <div class="row"><br /></div>
  <div class="row">
    <div class="col" style="text-align: center">
      <dx-button stylingMode="outlined" text="print" type="success"> </dx-button
      >&nbsp;
      <dx-button stylingMode="outlined" text="exit" type="success"> </dx-button>
    </div>
  </div>
</div>
