<dx-responsive-box singleColumnScreen="sm">
  <dxi-row [ratio]="0.50"></dxi-row>
  <dxi-row [ratio]="0.75"></dxi-row>
  <dxi-row [ratio]="1"></dxi-row>
  <dxi-col [ratio]="0.75"></dxi-col>
  <dxi-col [ratio]="3"></dxi-col>
  <dxi-item>
    <dxi-location [row]="0" [col]="0" [rowspan]="2"></dxi-location>
    <div *dxTemplate class="details-container content-block dx-card responsive-paddings">
      <dx-form id="form" [colCount]="1">
        <dxi-item [colSpan]="1">
          <dx-text-box dataField=" ER" label="ER"></dx-text-box>
          <br />
          <dx-text-box dataField=" Projectid" label="Projectid"></dx-text-box>
          <br />
          <dx-text-box dataField="Project Name" label="project Name"></dx-text-box>
          <br />
          <dx-text-box dataField="Budget Authority" label="Budget Authority"></dx-text-box>
          <br />
          <dx-text-box dataField="Task Description" label="Task Description"></dx-text-box>
          <br />
          <dx-button stylingMode="contained" text="search" type="default" width="400">
          </dx-button>
          <br />
          <br />
          <h4>Project</h4>
          <div style="height: calc(100vh - 600px); float: left; margin: 0px; padding: 0px; ">
            <dx-list #grid id="gridContainer" [dataSource]="pmSearchResults" [hoverStateEnabled]="true"
              selectionMode="single" [selectedItemKeys]="[selectedItemNumber]" height="100vh" [focusStateEnabled]="true"
              pageLoadMode="scrollBottom">
              <div *dxTemplate="let item of 'item'">
                <div>
                  <div class="name">{{ item.itemNumber}}</div>
                  <div class="description">{{ item.description }}</div>
                </div>
              </div>
            </dx-list>
          </div>

        </dxi-item>
      </dx-form>
    </div>
  </dxi-item>
  <dxi-item>
    <dxi-location [row]="0" [col]="1"></dxi-location>
    <div *dxTemplate class="details-container content-block dx-card responsive-paddings">
      <dx-form id="form" [colCount]="4" labelMode="floating">
        <dxi-item [colSpan]="2">
          <dx-text-box dataField="Project Name" label="Project Name"></dx-text-box>
        </dxi-item>
        <dxi-item itemtype="empty" [colSpan]="2"></dxi-item>
        <dxi-item itemtype="empty" [colSpan]="4"></dxi-item>
        <dxi-item [colSpan]="1" dataField="warehouse" editorType="dxLookup" [editorOptions]="{
          label: 'Warehouse',
          items: statusList,
          showDataBeforeSearch: true,
          searchEnabled: true,
          searchExpr: 'warehouse',
          displayExpr: 'warehouse',
          valueExpr: 'warehouse',
          showClearButton: true,
          searchMode: 'contains'
        }"></dxi-item>
        <dxi-item [colSpan]="1" dataField="location" editorType="dxLookup" [editorOptions]="{
          label: 'Location',
          items: statusList,
          showDataBeforeSearch: true,
          searchEnabled: true,
          searchExpr: 'location',
          displayExpr: 'location',
          valueExpr: 'location',
          showClearButton: true,
          searchMode: 'contains'
        }"></dxi-item>

        <dxi-item itemType="empty" [colSpan]="2"></dxi-item>
        <dxi-item itemType="empty" [colSpan]="4"></dxi-item>

        <dxi-item [colSpan]="4">
          <dx-data-grid #grid id="gridContainer" [dataSource]="gridList" keyExpr="itemNumber" [columns]="[
            'Equip Request', 
            'Line No',
            'Part Number',
            'Description',
            'Mfgr',
            'Qty']" [hoverStateEnabled]="true" [showBorders]="true" [selectedRowKeys]="[]" height="30vh">
            <dxo-scrolling rowRenderingMode="virtual"> </dxo-scrolling>
            <dxo-selection mode="single"></dxo-selection>
          </dx-data-grid>
        </dxi-item>

      </dx-form>
    </div>
  </dxi-item>
  <dxi-item>
    <dxi-location [row]="1" [col]="1"></dxi-location>
      <div *dxTemplate class="details-container content-block dx-card responsive-paddings">
        <dx-form id="form" labelMode="floating">
          <dxi-item>
            <div class="tables" >
              <div class="column1">
                <dx-data-grid [dataSource]="tableLeft" height="calc(100vh - 600px)" [showBorders]="true">
                  <dxo-row-dragging [data]="1" group="tasksGroup" [onAdd]="onAdd"></dxo-row-dragging>
                  <dxo-scrolling mode="virtual"></dxo-scrolling>
  
                  <dxi-column dataField="wareHouse" dataType="string"></dxi-column>
                  <dxi-column dataField="location" dataType="string"></dxi-column>
                  <dxi-column dataField="serialNo" dataType="string"></dxi-column>
                  <dxi-column dataField="tagNo" dataType="string"></dxi-column>
                  <dxi-column dataField="qty" dataType="string"></dxi-column>
                </dx-data-grid>
              </div>
              <div class="separator"></div>
              <div class="column2">
                <dx-data-grid [dataSource]="tableRight" height="calc(100vh - 600px)" [showBorders]="true">
                  <dxo-row-dragging [data]="2" group="tasksGroup" [onAdd]="onAdd"></dxo-row-dragging>
                  <dxo-scrolling mode="virtual"></dxo-scrolling>
  
                  <dxi-column dataField="wareHouse" dataType="string"></dxi-column>
                  <dxi-column dataField="location" dataType="string"></dxi-column>
                  <dxi-column dataField="serialNo" dataType="string"></dxi-column>
                  <dxi-column dataField="tagNo" dataType="string"></dxi-column>
                </dx-data-grid>
              </div>
            </div>
          </dxi-item>
  
        </dx-form>
      </div>
  </dxi-item>
  <dxi-item>
    <dxi-location [row]="2" [col]="0" [colspan]="2"></dxi-location>
    <div *dxTemplate class="details-container content-block dx-card responsive-paddings">
      <dx-form id="form" [colCount]="5">
        <dxi-item [colSpan]="1" style="text-align: center;">
          <dx-button stylingMode="contained" text="search" type="default">
          </dx-button>
        </dxi-item>
        <dxi-item [colSpan]="2" style="float: right;">
          <dx-button stylingMode="contained" text="Select All" type="default">
          </dx-button> &nbsp;
          <dx-button stylingMode="contained" text="Clear All" type="default">
          </dx-button>
        </dxi-item>
        <dxi-item [colSpan]="1" style="text-align: center;">
          <dx-button stylingMode="contained" text="Transfer" type="default">
          </dx-button> &nbsp;
          <dx-button stylingMode="contained" text="Exit" type="default">
          </dx-button>
        </dxi-item>
      </dx-form>
    </div>
  </dxi-item>