//@import url("../node_modules/jquery-ui/themes/base/all.css");
//@import url("../node_modules/devextreme/dist/css/dx.light.css");
@import url("../node_modules/@devexpress/analytics-core/dist/css/dx-analytics.common.css");
@import url("../node_modules/@devexpress/analytics-core/dist/css/dx-analytics.light.css");
@import url("../node_modules/@devexpress/analytics-core/dist/css/dx-querybuilder.css");
@import url("../node_modules/devexpress-dashboard/dist/css/dx-dashboard.light.css");
/* You can add global styles to this file, and also import other style files */
/* Angular Material Overrides */
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    color: #ccc; /* Override outline color. */
  }

  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
    padding: .65em 0; /* Original top/bottom value was 1em. */
  }


  ::ng-deep .mat-input-element {
    position: relative;
    top:  -1.2em; /* Adjust accordingly to keep placeholder/input text vertically centered. */
  }

  ::ng-deep .mat-form-field-label-wrapper {
    top: -1.2em; /* Adjust accordingly to keep <mat-label> text vertically centered. */
  }
