<div class="details-container content-block dx-card responsive-paddings">
  <div class="row">
    <h6>Change SerialDocuments </h6>
  </div>
  <div class="row" style="align-items: center">
    <form (submit)="handleSubmit($event)">
      <dx-form [(formData)]="changeSerialSearchInfo" id="form" [colCount]="7" labelMode="floating">
        <dxi-item [colSpan]="1" *ngDisplayLabel="100" [isRequired]="false">
          <dx-text-box [(value)]="changeSerialSearchInfo.itemNumber" [stylingMode]="StylingMode" [labelMode]="LabelMode"
            [elementAttr]="{ class: 'myclass' }" [label]="'item#'" #partNumberVar>
          </dx-text-box>

          <dxi-validation-rule type="required" message="Part Number is required">
          </dxi-validation-rule>
        </dxi-item>
        <!-- <dxi-item [colSpan]="1" dataField="itemNumber" [label]="{text:'item#'}"></dxi-item> -->
        <dxi-item [colSpan]="1" itemType="button" width="200" type="default" stylingMode="contained"
          [buttonOptions]="submitButtonOptions" style="text-align: center;">
          (onSelectionChanged)="onSelectionChanged($event)"
        </dxi-item>
        <!-- <dxi-item [colSpan]="1" dataField="fromSerial" [label]="{text:'From Ser No'}"></dxi-item>
        <dxi-item [colSpan]="1" dataField="toSerial" [label]="{text:'To Ser No'}"></dxi-item>
        <dxi-item [colSpan]="1" dataField="fromTagNo" [label]="{text:'From Tag No'}"></dxi-item>
        <dxi-item [colSpan]="1" dataField="toTagNo" [label]="{text:'To Tag No#'}"></dxi-item> -->
        <!-- <dxi-item [colSpan]="1">
          <dx-button stylingMode="contained" text="edit" width="400" type="default" (onClick)="edit()">
          </dx-button>
        </dxi-item> -->
      </dx-form>
    </form>

  </div>
  <div class="row">
    <dx-data-grid id="gridContainer" [dataSource]="changesserialArray" keyExpr="id" height="70vh"
      [focusedRowEnabled]="true" [showBorders]="true" [hoverStateEnabled]="true" (onRowClick)="onRowSelection($event)">
      <dxo-selection mode="single"></dxo-selection>
      <dxi-column dataField="warehouse"></dxi-column>
      <dxi-column dataField="location"></dxi-column>
      <dxi-column dataField="cost"></dxi-column>
      <dxi-column dataField="serlot" caption="Serial"></dxi-column>
      <dxi-column dataField="tagcol" caption="Tag No."></dxi-column>
      <dxi-column dataField="color_model" caption="Model"></dxi-column>
      <dxi-column dataField="expdate" caption="Exp Date"></dxi-column>
      <dxi-column dataField="actualSo" caption="Original ER"></dxi-column>
      <dxi-column dataField="currentSo" caption="Current ER"></dxi-column>
    </dx-data-grid>
  </div>
  <br>
  <br>
  <div class="row" style="justify-content: center;">
    <dx-button stylingMode="contained" text="edit" width="150" type="default" (onClick)="edit()">
    </dx-button>
  </div>
</div>


<dx-popup [width]="500" [height]="500" [showTitle]="true" title="Update Serial" [dragEnabled]="false"
  [showCloseButton]="true" container=".dx-viewport" [(visible)]="popupVisible">
  <form (submit)="saveSerial($event)">
    <dx-form [(formData)]="changeSerialSearchInfo" id="form" [colCount]="2" labelMode="floating">
      <dxi-item [colSpan]="1" *ngDisplayLabel="100" [isRequired]="false">
        <dx-text-box [(value)]="changeSerialSearchInfo.fromSerial" [stylingMode]="StylingMode" [readOnly]="true"
          [labelMode]="LabelMode" [elementAttr]="{ class: 'myclass' }" [label]="'From Ser No'">
        </dx-text-box>
      </dxi-item>
      <dxi-item [colSpan]="1" *ngDisplayLabel="100" [isRequired]="false">
        <dx-text-box [(value)]="changeSerialSearchInfo.toSerial" [stylingMode]="StylingMode" [labelMode]="LabelMode"
          [elementAttr]="{ class: 'myclass' }" [label]="'To Ser No'">
        </dx-text-box>
      </dxi-item>
      <dxi-item [colSpan]="1" *ngDisplayLabel="100" [isRequired]="false">
        <dx-text-box [(value)]="changeSerialSearchInfo.fromTagNo" [stylingMode]="StylingMode" [readOnly]="true"
          [labelMode]="LabelMode" [elementAttr]="{ class: 'myclass' }" [label]="'From Tag No'">
        </dx-text-box>
      </dxi-item>
      <dxi-item [colSpan]="1" *ngDisplayLabel="100" [isRequired]="false">
        <dx-text-box [(value)]="changeSerialSearchInfo.toTagNo" [stylingMode]="StylingMode" [labelMode]="LabelMode"
          [elementAttr]="{ class: 'myclass' }" [label]="'To Tag No'">
        </dx-text-box>
      </dxi-item>
      <dxi-item [colSpan]="1" *ngDisplayLabel="100" [isRequired]="false">
        <dx-text-box [(value)]="changeSerialSearchInfo.fromModel" [stylingMode]="StylingMode" [readOnly]="true"
          [labelMode]="LabelMode" [elementAttr]="{ class: 'myclass' }" [label]="'From Model'">
        </dx-text-box>
      </dxi-item>
      <dxi-item [colSpan]="1" *ngDisplayLabel="100" [isRequired]="false">
        <dx-text-box [(value)]="changeSerialSearchInfo.toModel" [stylingMode]="StylingMode" [labelMode]="LabelMode"
          [elementAttr]="{ class: 'myclass' }" [label]="'To Model'">
        </dx-text-box>
      </dxi-item>
      <dxi-item [colSpan]="1" *ngDisplayLabel="100" [isRequired]="false">
        <dx-text-box [(value)]="changeSerialSearchInfo.fromCost" [stylingMode]="StylingMode" [readOnly]="true"
          [labelMode]="LabelMode" [elementAttr]="{ class: 'myclass' }" [label]="'From Cost'">
        </dx-text-box>
      </dxi-item>
      <dxi-item [colSpan]="1" *ngDisplayLabel="100" [isRequired]="false">
        <dx-text-box [(value)]="changeSerialSearchInfo.toCost" [stylingMode]="StylingMode" [labelMode]="LabelMode"
          [elementAttr]="{ class: 'myclass' }" [label]="'To Cost'">
        </dx-text-box>
      </dxi-item>
      <dxi-item [colSpan]="2" *ngDisplayLabel="100" [isRequired]="false">
        <dx-text-box [stylingMode]="StylingMode" [labelMode]="LabelMode" style="height: 60px;"
          [elementAttr]="{ class: 'myclass' }" [ngAddLabel]="labelMap.notes_num">
        </dx-text-box>
      </dxi-item>

    </dx-form>
    <br>
    <dx-form [colCount]="12" labelMode="floating">
      <dxi-item></dxi-item>
      <dxi-item [colSpan]="5" itemType="button" width="250" type="default" stylingMode="contained"
          [buttonOptions]="submitSerialPopupButtonOptions">
      </dxi-item>
      <dxi-item [colSpan]="5" itemType="button" width="260" type="default" stylingMode="contained"
          [buttonOptions]="cancelSerialPopupButtonOptions">
      </dxi-item>
  </dx-form>
  </form>
</dx-popup>