<br />

<div class="col-12  dropzone" appDrag [disableDropping]="disableDropping" (files)="filesDropped($event)"
  fxLayout="row wrap">

  <div fxFlex="100%" fxLayout="row" fxLayoutAlign="center center" style="background-color: white;">
    <mat-icon>cloud_upload</mat-icon> &nbsp; Drop your files here, or <button [disabled]="disableDropping" mat-button
      color="primary" (click)="onClick()">
      {{text}}
    </button>
  </div>

  <br />
  <div fxFlex="100%" fxLayout="row wrap" style="background-color: white;">
    <ul fxLayout="row wrap" fxLayout.xs="column">
      <li *ngFor="let file of files" fxLayout="row wrap" fxLayoutAlign="center">
        <div fxLayout="column" style="max-width: 30%" fxLayoutAlign="center start">
          <span fxLayout="row" fxLayoutAlign="start end">
            <img mat-image [src]="file.url" style="max-width: 30%;cursor: pointer" matTooltip="download"
              (click)="downloadFile(file.fileName,file.location)" />
            &nbsp;<a title="Retry" (click)="retryFile(file)" *ngIf="file.canRetry" style="cursor: pointer;">
              <mat-icon>refresh</mat-icon>
            </a>
            <a title="Delete" (click)="cancelFile(file)" *ngIf="file.canCancel && !disableDropping"
              style="cursor: pointer;">
              <mat-icon>delete</mat-icon>
            </a>
          </span>
          <mat-progress-bar *ngIf="file.inProgress" fxLayoutAlign="center" style="width: 40%;"
            [value]="file.progress"></mat-progress-bar>
          <span class="file-label">
            {{ file.fileName }}
          </span>
          <br />
          <span class="file-label">
            {{ file.createdOn|date:'short' }}
          </span>
        </div>
      </li>
    </ul>
  </div>
</div>

<br />
<br />


<input type="file" id="fileUpload" name="fileUpload" multiple="multiple" accept="{{ accept }}" style="display:none;" />
