<ng-container [ngSwitch]="type">

  <ng-container *ngSwitchCase="this.componentType.PartMaster">
    <ng-container>
      <!-- <app-responsive></app-responsive> -->
      <app-partmaster></app-partmaster>
      <!-- <app-pmsearch></app-pmsearch> -->
      <!-- <app-pmdetails></app-pmdetails> -->
    </ng-container>
  </ng-container>

  <ng-container *ngSwitchCase="this.componentType.Profile">
    <ng-container>
      <app-profile></app-profile>
    </ng-container>
  </ng-container>

  <ng-container *ngSwitchCase="this.componentType.ChangeLocation">
    <ng-container>
      <app-change-loc></app-change-loc>
    </ng-container>
  </ng-container>

  <ng-container *ngSwitchCase="this.componentType.IncreaseInventory">
    <ng-container>
      <app-increase-inventory></app-increase-inventory>
    </ng-container>
  </ng-container>

  <ng-container *ngSwitchCase="this.componentType.Inquiry">
    <ng-container>
      <app-inquiry></app-inquiry>
    </ng-container>
  </ng-container>
  <ng-container *ngSwitchCase="this.componentType.SerialDocuments">
    <ng-container>
      <app-serial-documents></app-serial-documents>
    </ng-container>
  </ng-container>

  <ng-container *ngSwitchCase="this.componentType.ChangeSerial">
    <ng-container>
      <app-change-serial></app-change-serial>
    </ng-container>
  </ng-container>

  <ng-container *ngSwitchCase="this.componentType.Reports">
    <ng-container>
      <app-reports></app-reports>
    </ng-container>
  </ng-container>

  <ng-container *ngSwitchCase="this.componentType.Mdat">
    <ng-container>
      <app-mdat></app-mdat>
    </ng-container>
  </ng-container>

  <ng-container *ngSwitchCase="this.componentType.ER">
    <ng-container>
      <app-equipment></app-equipment>
    </ng-container>
  </ng-container>

  <ng-container *ngSwitchCase="this.componentType.Shipment">
    <ng-container>
      <app-shipment></app-shipment>
    </ng-container>
  </ng-container>

  <ng-container *ngSwitchCase="this.componentType.Report2">
    <ng-container>
      <app-report2></app-report2>
    </ng-container>
  </ng-container>

  <ng-container *ngSwitchCase="this.componentType.BulkTransfer">
    <ng-container>
      <app-bulk-transfer></app-bulk-transfer>
    </ng-container>
  </ng-container>

  <ng-container *ngSwitchDefault>Default Template</ng-container>