<ng-container [ngSwitch]="type">

    <ng-container *ngSwitchCase="this.componentType.PartMaster">
        <ng-container>
            <!-- <app-responsive></app-responsive> -->
            <app-partmaster></app-partmaster>
            <!-- <app-pmsearch></app-pmsearch> -->
            <!-- <app-pmdetails></app-pmdetails> -->
        </ng-container>
    </ng-container>

    <ng-container *ngSwitchCase="this.componentType.Profile">
        <ng-container>
            <app-profile></app-profile>
        </ng-container>
    </ng-container>

    <ng-container *ngSwitchCase="this.componentType.Tasks">
        <ng-container>
            <app-tasks></app-tasks>
        </ng-container>
    </ng-container>

  <ng-container *ngSwitchCase="this.componentType.IncreaseInventory">
    <ng-container>
      <app-increase-inventory></app-increase-inventory>
    </ng-container>
  </ng-container>

  <ng-container *ngSwitchCase="this.componentType.inquiry">
    <ng-container>
      <app-inquiry></app-inquiry>
    </ng-container>
  </ng-container>

    <ng-container *ngSwitchDefault>Default Template</ng-container>

</ng-container>
